---
layout: default
title: "OCCULTURE Berlin | Donate"
---

#sigil-wrap.outer
  %section.inner.center
    %img.sigil-of-attraction{ src: "/images/sigil-of-attracting-money.png" }

#donation-text-wrap.outer
  %section#donation-text.inner.center
    If you're interested in sponsoring OCCULTURE Berlin as an individual or through your business, please contact us at
    %a{ href: "mailto:info@occultureberlin.org" } info@occultureberlin.org

/ MAIN CONTENT

#donation-methods-wrap.outer
  %section#donation-methods.inner.center
    %ul.donation-method.btc-wrapper.center
      %li.logo-wrap
        %img.crypto-logo{alt: "bitcoin", src: "/images/btc.svg"}/
      %li
        %img.qr-code{alt: "bitcoin-qr-code", src: "/images/btc-1-qr.png"}
      %li
        %code.donation-address 138dGGYfqWKivAABhUpsucW5qibXpXUgqr
    %ul.donation-method.paypal-wrapper.center
      %li.logo-wrap
        %img.crypto-logo{alt: "paypal", src: "/images/paypal.png"}/
      %li
        %img.qr-code{alt: "paypal-qr-code", src: "/images/paypal-1-qr.png"}
      %li
        %code.donation-address
          %a{href: "https://www.paypal.me/occultureberlin"} Donate with paypal
    %ul.donation-method.eth-wrapper.center
      %li.logo-wrap
        %img.crypto-logo{alt: "ethereum", src: "/images/eth.png"}/
      %li
        %img.qr-code{alt: "ethereum-qr-code", src: "/images/eth-1-qr.png"}
      %li
        %code.donation-address 0xFB862520c3665117C25305A040A47C40e1aAb408
