---
layout: default
title: "OCCULTURE Berlin | Donate"
---

#video-wrap.outer
  %section#wishing-well-gif.inner.center
    %video{width: "480", height: "320", autoplay: "", loop: "", muted: ""}
      %source{src: "/images/wishing-well.mp4", type: "video/mp4"}
    %br
    %code
      Oyales, 2014
      %a{href: "https://imgur.com/user/Zerolemons/submitted"} Zerolemons

/ MAIN CONTENT

#donation-methods-wrap.outer
  %section#donation-methods.inner.center
    %ul.donation-method.btc-wrapper.center
      %li.logo-wrap
        %img.crypto-logo{alt: "bitcoin", src: "/images/btc.svg"}/
      %li
        %img.qr-code{alt: "bitcoin-qr-code", src: "/images/btc-1-qr.png"}
      %li
        %code.donation-address 138dGGYfqWKivAABhUpsucW5qibXpXUgqr
    %ul.donation-method.eth-wrapper.center
      %li.logo-wrap
        %img.crypto-logo{alt: "ethereum", src: "/images/eth.png"}/
      %li
        %img.qr-code{alt: "ethereum-qr-code", src: "/images/eth-1-qr.png"}
      %li
        %code.donation-address 0xFB862520c3665117C25305A040A47C40e1aAb408
    %ul.donation-method.paypal-wrapper.center
      %li.logo-wrap
        %img.crypto-logo{alt: "paypal", src: "/images/paypal.png"}/
      %li
        %img.qr-code{alt: "paypal-qr-code", src: "/images/paypal-1-qr.png"}
      %li
        %code.donation-address
          %a{href: "https://www.paypal.me/occultureberlin"} Donate with paypal

