---
layout: index
title: "OCCULTURE Berlin"
url: https://www.occultureberlin.org
description: "OCCULTURE Esoteric Conference Berlin"
image: https://www.occultureberlin.org/images/2020/open-graph.jpg
onLoadAction:
---

%section#landing
  %img#body-left.body{src: './images/2020/body-left-half.png'}
  %img#body-right.body{src: './images/2020/body-right-half.png'}

  .content-wrapper
    %img.logo{src: './images/2020/logo.png'}

    %br
    %img.icon{src: './images/2020/ico_flame.png'}
    %h1 22-25 October 2020
    %h3 Anomalie Art Club

    %br
    %img.icon{src: './images/2020/ico_hand.png'}
    %h1 Ticket sales start
    %h3 new moon in pisces
    %h3 23 February 2020

    %ul.social-links
      %li.ga-track{ data: { tracker: 'footer-social-insta' } }
        %a{href: 'https://www.instagram.com/occultureberlin', target: '_blank'}
          %img{src: './images/insta.png'}
      %li.ga-track{ data: { tracker: 'footer-social-fb' } }
        %a{href: 'https://www.fb.com/occultureberlin', target: '_blank'}
          %img{src: './images/fb.png'}
      %li.ga-track{ data: { tracker: 'footer-social-youtube' } }
        %a{href: 'https://www.youtube.com/channel/UCbTZWQ4_YixzYRi4vuWXDGA', target: '_blank'}
          %img{src: './images/youtube.png'}
      %li.ga-track{ data: { tracker: 'footer-social-email' } }
        %a{href: 'mailto:info@occultureberlin.org'}
          %img{src: './images/email.png'}

    .impressum
      %a.ga-track{onclick: "goToPage('impressum.html')"} Impressum
