---
layout: default
title: "OCCULTURE Berlin"
url: https://www.occultureberlin.org
description: "OCCULTURE Esoteric Conference Berlin"
displayImageCarousel: true
image: https://www.occultureberlin.org/images/2019/open-graph.jpg
onLoadAction:
---

/ display landing page, remember to uncomment displayLandingPage() in main.js
{% haml landing_page.haml %}

#high-priority-information-wrap.outer
  %section#high-priority-information.inner.center
    31 OCTOBER - 03 NOVEMBER 2019
  %section#tickets-wrap.inner.center.ga-track{data:{tracker: 'high-priority-ticket-button'}}
    {% haml get_tickets.haml %}

/ MAIN CONTENT
/ Nav buttons
#nav-wrap.outer
  #mobile-nav-wrap.hidden
    #hamburger-icon.ga-track
      %img{src: 'images/hamburger_icon.png'}
  %ul#nav.inner.center
    %li.button.ga-track.hidden#tickets-button
      {% haml get_tickets.haml %}
    %li.button.ga-track#lineup-button.tab-button 2019 Lineup
    %li.button.ga-track#schedule-button.tab-button Schedule
    / %li.button.ga-track.hidden#venue-button.tab-button Venue
    %li.button.ga-track#contact-button.tab-button Contact
    %li.button.ga-track.hidden#call-for-abstracts-button.tab-button Proposals
    %li.button.ga-track#donate-button.tab-button Donate
    / adblock hides this if it's called 'sponsors'
    %li.button.ga-track.hidden#friends-button.tab-button Partners
    %li.button.ga-track.hidden#lineup-2018-button
      %a{:onclick => "goToPage('2018/lineup')"} 2018 Lineup
    / %li.button.ga-track.hidden#media Media # TODO: add media sub-page

#schedule-wrap.outer
  %section#schedule.tab.inner.center.hidden
    #schedule-image.hidden
      %a{href: 'images/2019/schedule.png', target: '_blank'}
        %img.ga-track{data:{tracker:'mobile-schedule'}, src: 'images/2019/schedule.png' }
    #schedule-grid
      .blank &nbsp;
      .time 11:00
      .time 12:00
      .time 13:00
      .time 14:00
      .time 15:00
      .time 16:00
      .time 17:00
      .time 18:00
      .time 19:00
      .time 20:00
      .time 21:00
      .time 22:00
      .time 23:00
      .time 00:00
      .time 01:00
      .time 02:00
      .time 03:00
      .time 04:00
      .time 05:00

      .thursday.day.day-name
        .text Thursday 31.10
      .thursday.day.holder
      .thursday.day.registration
        .text Registration
      .thursday.day.opening-ritual
        .text Opening Ritual + Phurpa
      .thursday.day.party
        .text Party and DJ Set

      .friday.day.day-name
        .text Friday 01.11
      .friday.day.registration
        .text Registration
      .friday.day.conference
        .text Lectures, Workshops, Panels, VR, Art Installations and other experiences
      .friday.day.evening
        .text Film screenings, Live Music and DJ Set, Divination, Performances

      .saturday.day.day-name
        .text Saturday 02.11
      .saturday.day.registration
        .text Registration
      .saturday.day.conference
        .text Lectures, Workshops, Panels, VR Art Installations and other experiences
      .saturday.day.evening
        .text Film screenings, Live Music, Divination, Performances
      .saturday.day.party
        .text OCCULTURE Party!

      .sunday.day.day-name
        .text Sunday 03.11
      .sunday.day.registration
        .text Registration
      .sunday.day.conference
        .text Lectures, Workshops, Panels and more
      .sunday.day.closing-ritual
        .text Closing Ritual

#venue-wrap.outer
  %section#venue.tab.inner.center.hidden
    #map.center
      // .:MRSLDHRMBR:.
      %img{}
      %iframe{allowfullscreen:"",
        src: "https://www.google.com/maps?q=Muzikbrauerei Berlin&output=embed&z=15"}

#contact-wrap.outer
  %section#contact.tab.inner.center.hidden
    %p
      Want to get in touch? Send us a message at
      %a{href: "mailto:info@occultureberlin.org"} info@occultureberlin.org

    / TODO: change the way the mailing list includes file works...
    %form.ga-track{                                     |
      action:"https://tinyletter.com/occulture-berlin", |
      method:"post",                                    |
      target:"_blank",                                  |
      data:{tracker:"input-mailing-list-contact-section"}}              |

      %label{for:"tlemail"}
        Subscribe for updates and information about OCCULTURE:
      #mailing-list-input
        %input{type:"text", name:"email", id:"tlemail"}
        %input{type:"hidden", value:"1",  name:"embed"}
        %input.button.ga-track{                 |
          type:"submit",                        |
          value:"Subscribe",                    |
          data:{tracker:"submit-mailing-list-contact-section"}} |

#call-for-abstracts-wrap.outer
  %section#call-for-abstracts.tab.inner.center.hidden
    %p.description-text
      The period for submitting proposals has ended. If you'd like to submit a proposal, you are welcome to do so using the form below, however as we have receieved a large number of applications already, we cannot guarantee that space will be available.

    %a.submission-button.button.ga-track{href: 'https://forms.gle/sHi4srkGdFQWkq3f6'}
      Submit a Proposal

#donate-wrap.outer
  %section#donate.tab.inner.center.hidden
    {% haml donate.haml %}

/ adblock hides this tab if it's called 'sponsors'
#friends-wrap.outer
  %section#friends.tab.inner.center.hidden
    %ul#friends-grid
      / monterey not set for https
      %li.bff.ga-track{data:{tracker: 'partner-thoth-hermes'}}
        %a{href: "https://www.thothermes.com?redirect-from=occultureberlin"}
          %img{alt: "Thoth Hermes Podcast", src: "images/thoth-hermes-logo.jpg"}
      %li.ga-track{data:{tracker: 'partner-monterey-bar'}}
        %a{href: "http://montereybar.com?redirect-from=occultureberlin"}
          %img{alt: "Monterey Bar", src: "images/monterey-logo.png"}
      %li.ga-track{data:{tracker: 'partner-okultura'}}
        %a{href: "https://www.okultura.pl?redirect-from=occultureberlin"}
          %img{alt: "Okultura", src: "images/okultura-logo.png"}
      %li.ga-track{data:{tracker: 'partner-black-flame'}}
        %a{href: "https://www.blackflame.ca?ref=occulture-berlin"}
          %img{alt: "Black Flame Conference", src: "images/black-flame-logo.jpg"}
      %li.ga-track{data:{tracker: 'partner-villaggio-della-luna'}}
        %a{href: "https://www.facebook.com/villaggiodellaluna/"}
          %img{alt: "Villaggio Della Luna", src: "images/villaggio-della-luna.png"}
      / %li
      /   %a{href: "https://www.anathemapublishing.com?redirect-from=occultureberlin"}
      /     %img{alt: "Anathema Publishing", src: "images/anathema-logo-03.png"}/
      / %a{href: "https://scarletimprint.com?redirect-from=occultureberlin"}
      /   %img{alt: "Scarlet Imprint", src: "images/scarlet-imprint-logo.png"}/
      / %a{href: "https://cycliclaw.com?redirect-from=occultureberlin"}
      /   %img{alt: "Cyclic Law", src: "images/cyclic-law-logo.png"}/

// this likes to be at the bottom for some reason, otherwise it blocks everything else
#lineup-2019-wrap.outer
  %ul#lineup-sub-nav.sub-nav.center.hidden
    {% assign categories = site.data.events-2019 | map: 'type' | uniq %}
    %li#all all
    {% for category in categories %}
    %li#{{ category }} {{category}}
    {% endfor %}
  %section#lineup.tab.sub-navigable.inner.center.hidden
    #lineup-grid
      {% haml 2019/lineup.haml %}
