---
layout: index
title: "OCCULTURE Berlin"
url: https://www.occultureberlin.org
description: "OCCULTURE Esoteric Conference Berlin"
image: https://www.occultureberlin.org/images/2020/open-graph.jpg
onLoadAction:
---

%section#landing.vertically-centered-section
  %img#body-system-left.body-system{src: './images/2020/body-left-half.png'}
  %img#body-system-right.body-system{src: './images/2020/body-right-half.png'}

  .vertically-centered-content-wrapper.content-wrapper
    %img.logo{src: './images/2020/logo.png'}

    %br
    %img.icon{src: './images/2020/ico_flame.png'}
    %h1 22-25 October 2020
    %h3 Anomalie Art Club

    %br
    %img.icon{src: './images/2020/ico_hand.png'}
    %h1 Ticket sales start
    %h3 new moon in pisces
    %h3 23 February 2020

%section#mailing-list.vertically-centered-section.half-section
  .vertically-centered-content-wrapper.content-wrapper
    %img.icon{src: './images/2020/ico_snake.png'}
    {% haml mailing_list.haml %}

// borders #b2b2b2
// bg #141414
%section#tickets
  .content-wrapper
    %img.icon{src: './images/2020/ico_hand.png'}
    %h1 Tickets

    #main-ticket-button.button.ga-track buy now
    = # #ticket-content.inner
    = #  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis sagittis diam, vitae finibus est. Ut ut nisl pellentesque, porttitor mi ut, consequat est. Suspendisse dignissim, nisl eget blandit dapibus, felis nibh consectetur lacus, nec interdum elit orci non eros. In id eros varius, vestibulum purus non, gravida quam. Fusce euismod tempus mauris, sed elementum risus tempus a. Aenean feugiat ligula eget lorem eleifend varius. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed eu sapien lectus.

%section#venue
  .content-wrapper
    // TODO: should be eye
    %img.icon{src: './images/2020/ico_flame.png'}
    %h1 Venue
    %h3 Anomalie Art Club, Berlin

    #map
      // .:MRSLDHRMBR:.
      // %img{src: 'images/anomalie.jpg'}
      %iframe{allowfullscreen:"",
        src: "https://www.google.com/maps?q=Anomalie Art Club Berlin&output=embed&z=13"}

%section#media
  .content-wrapper
    %h1 Media

%section#friends
  .content-wrapper
    %h1 Partners

%section#past-events
  .content-wrapper
    %h1 Past Events
