---
layout: default
title: "OCCULTURE Berlin"
description: "OCCULTURE Esoteric Conference Berlin"
url: https://www.occultureberlin.org
image: https://www.occultureberlin.org/images/open-graph.png
background_image: images/suspension-performance-2018.jpg
background_image_id: suspension-performance
onLoadAction:
---

/ display landing page, remember to uncomment displayLandingPage() in main.js
/ {% haml landing_page.haml %}

#high-priority-information-wrap.outer
  %section#high-priority-information.inner.center
    31 OCTOBER - 03 NOVEMBER 2019
    %br @MUSIKBRAUEREI IN BERLIN
  %section#tickets-wrap.inner.center
    %script{src: "https://www.universe.com/embed2.js", "data-state" => ""}
    %a{href: "https://www.universe.com/events/occulture-esoteric-conference-2019-tickets-berlin-86HFLD"} Get Tickets

/ MAIN CONTENT
/ Nav buttons
#nav-wrap.outer
  %ul#nav.inner.center
    %li#lineup-button
      %a{:onclick => "goToPage('2018/lineup')"} 2018 Lineup
    / %li#tickets-button.tab-button Tickets
    %li#venue-button.tab-button Venue
    %li#contact-button.tab-button Contact
    %li#call-for-abstracts-button.tab-button Proposals
    %li#donate-button.tab-button Donate
    / adblock hides this if it's called 'sponsors'
    /%li#those-who-support-us-financially-button.tab-button Partners
  %ul#lineup-sub-nav.sub-nav.inner.center.hidden
    %li#lecture-button.tab-button Lectures
    %li#workshop-button.tab-button Workshops
    %li#ritual-button.tab-button Rituals
    %li#art-button.tab-button Artists

/ #lineup-wrap.outer
/   %section#lineup.tab.sub-navigable.inner.center.hidden
/   %section#lecture.tab.sub-tab.inner.center.hidden
/   %section#workshop.tab.sub-tab.inner.center.hidden
/   %section#ritual.tab.sub-tab.inner.center.hidden
/   %section#art.tab.sub-tab.inner.center.hidden

/#tickets-wrap.outer
/  %section#tickets.tab.inner.center.hidden
/    %p
/      Occulture is a blending of the words "occult" and "culture" popularized
/      by Christopher Partridge - a fusion which signifies the ethereal
/      influence they exert between each other.
/    %p
/      The occult deeply influences our culture, but how does culture
/      influence the occult? What of the sub-cultures moving under the
/      surface, the citizens of the esoteric circles of our world?
/    %p
/      Join us 16-18 November, 2018 in Berlin to explore the hidden world
/      beneath and between us through lectures, workshops, rituals, virtual
/      reality experiences, divination, performances, music and exhibitions
/      of occult art.
/    %p Join your will with ours this November in Berlin.
/    %section#ticket-columns
/      #left-column.column
/        .image-holder.left-image
/          %img{alt: "Alchemical Pointer", src: "images/alchemical-pointer-left.png"}/
/      #center-column.column
/        #ticket-prices-banner Ticket Prices:
/        %table#prices
/          %tr.strike-through
/            %td.ticket-type Initiate
/            %td.ticket-price 77.7€
/          %tr
/            %td.ticket-type Novice
/            %td.ticket-price 99.9€
/          %tr
/            %td.ticket-type Adept
/            %td.ticket-price 111€
/          %tr
/            %td.ticket-type Master
/            %td.ticket-price 133.3€
/        .buy-ticket-button
/          %script{"data-state": "", src: "https://www.universe.com/embed2.js"}
/          %a.button{href: "https://www.universe.com/events/occulture-esoteric-conference-tickets-berlin-KGY0F5?ref=ticket-section-button"} Get Tickets
/      #right-column.column
/        .image-holder.right-image
/          %img{alt: "Alchemical Pointer", src: "images/alchemical-pointer-right.png"}

#venue-wrap.outer
  %section#venue.tab.inner.center.hidden
    #map.center
      %img{alt: 'Musikbrauerei exterior', src: 'images/musikbrauerei.jpg'}
      %iframe{allowfullscreen:"",
        src: "https://www.google.com/maps?q=Muzikbrauerei&output=embed&z=15"}

#contact-wrap.outer
  %section#contact.tab.inner.center.hidden
    %p
      Want to get in touch? Send us a message at
      %a{href: "mailto:info@occultureberlin.org"} info@occultureberlin.org
    /
      <p>
      The primary call for abstracts is now closed! We are still accepting proposals
      for artistic installations (paintings, photos, sculpture, et al) and
      diviners (tarot card readers, palm readers, et al) so please contact
      us if you wish to be involved in one of these categories.
      </p>

#call-for-abstracts-wrap.outer
  %section#call-for-abstracts.tab.inner.center.hidden
    %p
      We are now accepting proposals for all parts of the conference! Whether
      you'd like to give a talk, lead a workshop or ritual, create an
      installation, share a performance or give divination readings, we'd please
      ask that you fill out the following form and include all required
      information so that we can give all proposals equal consideration.

    %p#submission-deadline
      Submissions will be accepted until the full moon on 14 September, 2019

    %a#submission-button.button{href: 'https://forms.gle/sHi4srkGdFQWkq3f6'}
      Submit a Proposal

#donate-wrap.outer
  %section#donate.tab.inner.center.hidden
    {% haml donate.haml %}

/ adblock hides this tab if it's called 'sponsors'
#those-who-support-us-financially-wrap.outer
  %section#those-who-support-us-financially.tab.inner.center.hidden
    / monterey not set for https
    %a{href: "http://montereybar.com?redirect-from=occultureberlin"}
      %span.vertical-spacer
      %img{alt: "Monterey Bar", src: "images/monterey-logo.png"}/
    %a{href: "https://www.anathemapublishing.com?redirect-from=occultureberlin"}
      %span.vertical-spacer
      %img{alt: "Anathema Publishing", src: "images/anathema-logo-03.png"}/
    %a{href: "https://psychedelicpress.co.uk?redirect-from=occultureberlin"}
      %span.vertical-spacer
      %img{alt: "Psychedelic Press", src: "images/psy-press.png"}/
    %a{href: "https://www.okultura.pl?redirect-from=occultureberlin"}
      %span.vertical-spacer
      %img{alt: "Okultura", src: "images/okultura-logo.png"}/
    %a{href: "https://www.facebook.com/villaggiodellaluna/"}
      %span.vertical-spacer
      %img{alt: "Villaggio Della Luna", src: "images/villaggio-della-luna.png"}/
    %a{href: "https://scarletimprint.com?redirect-from=occultureberlin"}
      %span.vertical-spacer
      %img{alt: "Scarlet Imprint", src: "images/scarlet-imprint-logo.png"}/
    %a{href: "https://cycliclaw.com?redirect-from=occultureberlin"}
      %span.vertical-spacer
      %img{alt: "Cyclic Law", src: "images/cyclic-law-logo.png"}/
    %a{href: "https://berlinyogaconference.org?redirect-from=occultureberlin"}
      %span.vertical-spacer
      %img{alt: "Berlin Yoga Conference", src: "images/BYC-logo.png"}/
