---
layout: index
title: "OCCULTURE Conference"
url: https://www.occultureconference.com
description: "OCCULTURE Esoteric Conference"
image: https://www.occultureconference.org/images/logo-gray-noshad.png
onLoadAction:
---

%section#landing
  .content-wrapper
    %img.logo{src: './images/logo-gray.png'}

    .information
      %h1 Prague Samhain
      %h3 30/31.10.2020

    -# %br
    -# %img.icon{src: './images/2020/ico_hand.png'}
    -# %h1 Tickets available now

%section#mailing-list.vertically-centered-section.half-section
  .vertically-centered-content-wrapper.content-wrapper
    %img.icon{src: './images/2020/ico_snake.png'}
    {% haml mailing_list.haml %}

%section#tickets.vertically-centered-section.half-section
  .vertically-centered-content-wrapper.content-wrapper
    %img.icon{src: './images/2020/ico_hand.png'}
    %h1 Tickets

    #main-ticket-button.button.ga-track{ data: {tracker: 'main-ticket-button'}}
      // spring 2021
      // %a{href: 'https://app.tickettailor.com/events/occulture/352285/r/website-tickets-section'} buy now
      %a{href: 'https://app.tickettailor.com/events/occulture/416199/r/website-tickets-section'} buy now


-#%section#venue
  .content-wrapper
    .fixed-title
      %img.icon{src: './images/2020/ico_eye.png'}
      %h1 Venue
      %h3 Anomalie Art Club, Berlin

    #map
      // .:MRSLDHRMBR:.
      // %img{src: 'images/anomalie.jpg'}
      %iframe{allowfullscreen:"",
        src: "https://www.google.com/maps?q=Anomalie Art Club Berlin&output=embed&z=13"}

// // // MEDIA // // //
// TODO: add 2019 photos
// TODO: add videos
// TODO: add context switching
// TODO: styling for mobile
// %section#media.vertically-centered-section
//   .vertically-centered-content-wrapper.content-wrapper
//     .fixed-title
//       %img.icon{src: './images/2020/ico_eye.png'}
//       %h1 Media
//
//     #image-gallery
//       {% for photo in site.data.photos %}
//       %a.ga-track{href: "{{ photo.path }}", data: {fancybox: "gallery", tracker: "image-{{ photo.tracker }}" }}
//         %img{src:"{{ photo.path }}"}
//       {% endfor %}

// // // PARTNERS // // //
// %section#friends.vertically-centered-section
//   .vertically-centered-content-wrapper.content-wrapper
//     .fixed-title
//       %img.icon{src: './images/2020/ico_flame.png'}
//       %h1 Partners
//
//     %img{src: './images/2020/ico_flame.png'}
//     %img{src: './images/2020/ico_flame.png'}
//     %img{src: './images/2020/ico_flame.png'}
//     %img{src: './images/2020/ico_flame.png'}

%section#past-events.vertically-centered-section
  .vertically-centered-content-wrapper.content-wrapper
    .fixed-title
      %img.icon{src: './images/2020/ico_flame.png'}
      %h1 Past Events
      %ul.nav
        %li.selected.ga-track{data: {tracker: 'past-events-2019'}} 2019
        |
        %li.ga-track{data: {tracker: 'past-events-2018'}} 2018

    #information-2019.past-event-wrapper
      %h2 OCCULTURE 2019
      %h4 31 October - 03 November
      %h4 Anomalie Art Club, Berlin

      .image
        %img{src: './images/events/2019/enid-closing-ritual.jpg'}
        .rights
          Photographer:
          %a{href: 'https://www.instagram.com/WarmDefeat/', target: 'blank'} Enid Valu
      .links
        %a.ga-track{href: './2019/lineup', data: {tracker: '2019-lineup'}} Lineup
        %br
        %a.download-program.ga-track{href: './2019/program.pdf', data: {tracker: 'download-program-2019'}}
          Download Program
    #information-2018.past-event-wrapper.hidden
      %h2 OCCULTURE 2018
      %h4 16-18 November
      %h4 Flutgraben e.V., Berlin

      .image
        %img{src: './images/events/2018/exterior.jpg'}
      .links
        // TODO: whole lotta refactorin' to do there
        %a.ga-track{href: './2018/lineup', data: {tracker: '2018-lineup'}} Lineup
        %br
        %a.download-program.ga-track{href: './2018/program.pdf', data: {tracker: 'download-program-2018'}}
          Download Program

// TODO: add link to proposals site
// TODO: add blurb + theme
%section#call-for-abstracts.vertically-centered-section
  .vertically-centered-content-wrapper.content-wrapper
    .fixed-title
      %img.icon{src: './images/2020/ico_snake.png'}
      %h1 Call for Proposals
    #call-for-abstracts-button.button.ga-track{ data: {tracker: 'proposals-button'}}
      %a{href: 'https://conf-admin-occulture.herokuapp.com/proposal/new'} apply now
    .description.inner
      %br
      %p You can use this form to apply for the Samhain event in Prague and/or the event next year in Berlin.
      %br
      .topics
        %h3 Proposals are now open for:
        %ul
          %li Lectures
          %li Workshops
          %li Rituals
          %li Performances
          %li Film Screenings
          %li Art Exhibitions
          %li Vendors
      %br
      %p We are interested in exploring all serious pursuits of esoteric knowledge regardless of your background or qualifications.
