---
layout: default
title: "Tickets | OCCULTURE Berlin"
url: https://www.occultureberlin.org/tickets
description: "Get your ticket today for OCCULTURE Esoteric Conference Berlin!"
displayImageCarousel: false
image: https://www.occultureberlin.org/images/2019/open-graph.jpg
onLoadAction:
---
#tickets-page
  #high-priority-information-wrap.outer
    %section#high-priority-information.inner.center
      3 nights and 3 days of Lectures, Workshops, Rituals & Performances from experts in the esoteric
      {% assign events = site.data.events-2019 | where: 'keynote', 1 %}
      #top-speakers
        {% for event in events %}
        .speaker
          .img-wrap
            %img{src: '{{event.avatarPath}}', alt: '{{event.title}}'}
            %br
          .name
            {{ event.name | split: ' ' | join: '<br>' }}
        {% endfor %}
      #and-more And many more...

  #countdown-wrap.outer
    #countdown.inner.center

  %script{ src: './javascripts/countdown.min.js', type: 'text/javascript' }
  :javascript
    countdown.DEFAULTS = countdown.DAYS

    var time = countdown(null, new Date(2019, 9, 31), countdown.DEFAULTS).toString();
        result = "Just "+time+" remaining: get your ticket now!"

    $('#countdown-wrap #countdown').html(result);

  %section#tickets-wrap.inner.center
    <script  src="https://www.universe.com/embed2.js"  data-widget-type="universe-ticket"  data-target-type="Listing"  data-target-id="occulture-esoteric-conference-2019-tickets-berlin-86HFLD"  data-state="buttonColor=#ff0000&buttonText=Get Tickets" ></script>
