---
layout: default
title: "Tickets | OCCULTURE Berlin"
url: https://www.occultureberlin.org/tickets
description: "Get your ticket today for OCCULTURE Esoteric Conference Berlin!"
displayImageCarousel: false
image: https://www.occultureberlin.org/images/2019/open-graph.jpg
onLoadAction:
---
#tickets-page.outer
  #tickets-page-wrap.inner.center
    %section#ticket-element-holder
      #countdown-wrap
        #countdown

      %script{ src: './javascripts/countdown.min.js', type: 'text/javascript' }
      :javascript
        countdown.DEFAULTS = countdown.WEEKS

        var time = countdown(null, new Date(2019, 9, 31), countdown.DEFAULTS).toString();
            result = "Just "+time+" left <br>Get your ticket now!"

        $('#countdown-wrap #countdown').html(result);

      %section#tickets-wrap.inner.center
        #tickets
          .row.sold-out
            .name Initiate
            .cost sold out
          .row.sold-out
            .name Equinox Promo Ticket
            .cost sold out
          .row
            .name
              Adept
              %span.badge < 100 left!
            .cost 144€
          .row
            .name Master
            .cost 233€

        {% haml get_tickets.haml %}

    %section#high-priority-information
      3 nights and 3 days of Lectures, Workshops, Rituals & Performances from experts in the esoteric
      {% assign events = site.data.events-2019 | where: 'keynote', 1 %}
      #top-speakers
        {% for event in events %}
        .speaker
          .img-wrap
            %img{src: '{{event.avatarPath}}', alt: '{{event.title}}'}
            %br
          .name
            {{ event.name | split: ' ' | join: '<br>' }}
        {% endfor %}
      %a#and-more.ga-track{href: '/2019/lineup', data:{tracker: 'tickets-page-lineup'}}
        >> click here to see the lineup <<

