---
  layout: 2018
  title: Lineup
  description: "Lineup of speakers, facilitators and performers @OCCULTURE Berlin 2018"
  url: http://www.occultureberlin.org/2018/lineup
  onLoadAction: loadSpeakers()
---

/ MAIN CONTENT
#lineup-wrap.outer
  %section#lineup.tab.inner.center
/ Nav buttons
#nav-wrap.outer
  %ul#nav.inner.center
    %li#home-button
      %a{onclick: "goToPage('index.html')"} Home
