---
  layout: 2018
  title: Lineup 2018
  description: "Lineup of speakers, facilitators and performers @OCCULTURE Berlin 2018"
  url: http://www.occultureberlin.org/2018/lineup
  onLoadAction: loadSpeakers()
---

/ Nav buttons
#nav-wrap.outer
  %ul#nav.inner.center
    %li#home-button
      %a{onclick: "goToPage('index.html')"} Home
    %li#youtube-button
      %a{href: "https://tinyurl.com/y58yaak3"} 2018 Recorded Lectures

/ MAIN CONTENT
#lineup-wrap.outer
  %h1.center Artists, Speakers and Facilitators - 2018
  %section#lineup.tab.inner.center
