---
  layout: 2018
  title: Schedule
  description: "Schedule of activities @OCCULTURE Esoteric Conference Berlin 2018"
  url: http://www.occultureberlin.org/2018/schedule
---

#high-priority-information-wrap.outer
  %section#high-priority-information.inner.center
    NOVEMBER 16-18, 2018
/ MAIN CONTENT
/ Nav buttons
#nav-wrap.outer
  %ul#nav.inner.center
    %li#home-button
      %a{:onclick => "goToPage('index.html')"} Home
  %ul#schedule-sub-nav.sub-nav.inner.center
    %li#friday-button.tab-button Friday, 16.11
    %li#saturday-button.tab-button Saturday, 17.11
    %li#sunday-button.tab-button Sunday, 18.11

#schedule-wrap.outer
  #event-overlay
  %section#friday.tab.sub-tab.inner.center.hidden
    .cd-schedule.js-full
      .timeline
      .events
        %ul
  %section#saturday.tab.sub-tab.inner.center.hidden
    .cd-schedule.js-full
      .timeline
      .events
        %ul
          %li.events-group
  %section#sunday.tab.sub-tab.inner.center.hidden
    .cd-schedule.js-full
      .timeline
      .events
        %ul
          %li.events-group
