#donation-text-wrap.outer
  %section#donation-text.inner.center
    All donated funds will support OCCULTURE by paying for venues, speakers, staff and other expenses. If you'd like to make a donation toward a specific end or if you're interested in sponsoring OCCULTURE as a business, please contact us at &nbsp;
    %a{ href: "mailto:info@occultureconference.com" } info@occultureconference.com

/ MAIN CONTENT

#donation-methods-wrap.outer
  %section#donation-methods.inner.center
    %ul.donation-method.btc-wrapper.center
      %li.logo-wrap
        %img.crypto-logo{alt: "bitcoin", src: "/images/btc.png"}/
      %li
        %img.qr-code{alt: "bitcoin-qr-code", src: "/images/btc-1-qr.png"}
      %li
        %code.donation-address 138dGGYfqWKivAABhUpsucW5qibXpXUgqr
    %ul.donation-method.paypal-wrapper.center
      %li.logo-wrap
        %img.crypto-logo{alt: "paypal", src: "/images/paypal.png"}/
      %li
        %img.qr-code{alt: "paypal-qr-code", src: "/images/paypal-1-qr.png"}
      %li
        %code.donation-address
          %a{href: "https://www.paypal.me/occultureberlin"} Donate with paypal
    %ul.donation-method.eth-wrapper.center
      %li.logo-wrap
        %img.crypto-logo{alt: "ethereum", src: "/images/eth.png"}/
      %li
        %img.qr-code{alt: "ethereum-qr-code", src: "/images/eth-1-qr.png"}
      %li
        %code.donation-address 0xFB862520c3665117C25305A040A47C40e1aAb408
