%script{src: "https://www.universe.com/embed2.js", "data-state" => ""}
%a.button.ga-track{href: "https://www.universe.com/events/occulture-esoteric-conference-2019-tickets-berlin-86HFLD"} Get Tickets
