%section#landing-wrap.outer
  #landing.inner.center
    .put-out-the-vibe
      %video{autoplay: "", playsinline: "", muted: ""}
        %source{src: "images/promo-gif.mp4", type: "video/mp4"}
    .put-out-the-cold-facts
      %p.promo
        111€ Equinox Ticket
        %br
        %br available from 21.09 @11:11 to 24.09 @23:23
      %p As we continue to move across the Wheel of the Year, we are now entering into a phase of strong mutation: a Sabbat called Mabon, or the Autumnal Equinox.
      %p Night and day are again of equal length and in perfect equilibrium. Dark and light, masculine and feminine, inner and outer⁠—all are in balance. But we are again at the cusp of transition and from now on, the year begins to wane and from this moment onwards, darkness begins to defeat the light.
      %p Thus, Occulture arrives from the shade of the moon at the next Sabbat, Samhain. A special night of devotion and magic, born under the moon’s shadow, where the world of the unseen meets with the western realm of East Berlin. Due to the gradual alignment of Saturn with Pluto, the event will take place at a brand new and easily accessible location in Friedrichshain, which we shall reveal next week.
      %p Please bear in mind that this is your very LAST chance to get a discounted ticket, which will grant you full access to Occulture Esoteric Conference: a unique three-day and three-night event, which explore the art, knowledge, practice and entertainment of the international esoteric community.
    .fork-out-the-cash
      %section#tickets-wrap.ga-track{data:{tracker: 'landing-ticket-button'}}
        {% haml get_tickets.haml %}

  .inner.center
    .close-button{onclick: "hideLandingPage()"} continue to site
