%section#landing-wrap.outer
  #landing.inner.center
    .put-out-the-vibe
      %video{controls: "controls", autoplay: "", playsinline: "", muted: ""}
        %source{src: "images/promo-gif.mp4", type: "video/mp4"}
    .fork-out-the-cash.hidden.step
      %section#tickets-wrap.ga-track{data:{tracker: 'landing-ticket-button'}}
        {% haml get_tickets.haml %}

  .inner.center
    .close-button{onclick: "hideLandingPage()"} continue to site
