%section#landing-wrap.outer
  %img#logo.hidden.step{:alt => "Occulture Berlin", :src => "images/occulture-logo-alpha.png"}
    #high-priority-information.center 31 October - 03 November 2019

  #landing.inner.center
    .put-out-the-vibe
      %img.hidden.step{src: "images/dmd-nervous-system.jpg", title: "DANIEL MARTIN DIAZ"}
    .put-out-the-cold-facts
      .intro.hidden.step
        Following the path of the moon we have some updates for you magicians:
      %ul
        %li.content.hidden.step
          New Moon in Virgo [30 August]
          %ul
            %li.content.hidden.step
              announce some of the confirmed guests, speakers and musicians -
            %li.content.hidden.step
              and also to conclude our early bird ticket option.
        %li.content.hidden.step
          Full Moon in Pisces [14 September]
          %ul
            %li.content.hidden.step
              And for those still willing to apply to be part of Occulture, the september full moon will be the end''

  .inner.center
    .close-button.hidden.step{onclick: "hideLandingPage()"} continue to site
