/ call with {% include looped_video.html url="your url"

#video-wrap.outer
  %section.inner.center
    %video{width: "480", height: "320", playsinline: "", autoplay: "", loop: "", muted: ""}
      %source{src: "url", type: "video/mp4"}
