%h1 Newsletter
%form.ga-track{                                     |
  action:"https://tinyletter.com/occulture-berlin", |
  method:"post",                                    |
  target:"_blank",                                  |
  data:{tracker:"input-mailing-list"}}              |

  %label{for:"tlemail"}
    Join our coven
  #mailing-list-input
    %input{type:"text", name:"email", id:"tlemail"}
    %input{type:"hidden", value:"1",  name:"embed"}
    %input.button.ga-track{                 |
      type:"submit",                        |
      value:"Submit",                       |
      data:{tracker:"submit-mailing-list"}} |
