---
layout: speaker
title: "OCCULTURE Berlin | Akal Anand Kaur"
url: "https://www.occultureberlin.org/2019/lineup/akal-anand-kaur"
description: "Plantinum Alchemy: A Kundalini Circle @OCCULTURE Berlin 2019"
image: "https://www.occultureberlin.org/images/speakers/kaur-akal-anand.jpeg"
searchString: akal-anand-kaur
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
