---
layout: speaker
title: "OCCULTURE Berlin | Astarte Oasis - Ordo Templi Orientis"
url: "https://www.occultureconference.com/2019/lineup/astarte-oasis---ordo-templi-orientis"
description: "Liber XV - Gnostic Mass @OCCULTURE Berlin 2019"
image: "https://upload.wikimedia.org/wikipedia/en/9/9d/Ordo_Templi_Orientis_%28insignia%29.png"
searchString: astarte-oasis---ordo-templi-orientis
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
