---
layout: speaker
title: "OCCULTURE Berlin | Beatrice Eggers"
url: "https://www.occultureconference.com/2019/lineup/beatrice-eggers"
description: "Movies as Magickal Talismans @OCCULTURE Berlin 2019"
image: "https://www.involutionfilm.se/wp-content/uploads/2019/08/FB_IMG_1557752654381.jpg"
searchString: beatrice-eggers
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
