---
layout: speaker
title: "OCCULTURE Berlin | Bernie Tarot"
url: "https://www.occultureberlin.org/2019/lineup/bernie-tarot"
description: "__title @OCCULTURE Berlin 2019"
image: "https://scontent.fham1-1.fna.fbcdn.net/v/t1.0-9/60616242_329034324412216_6869206140140388352_n.jpg?_nc_cat=110&_nc_oc=AQlL1Edq5U87MsdCnTeLG8tl8uQkiFAl1eXOHpcWRtODzcfV49ZPHh6mQlLHcdoIEWo&_nc_ht=scontent.fham1-1.fna&oh=c69a569719f22c304b7167561304e0c5&oe=5E37B86E"
searchString: bernie-tarot
visible: __visible
onLoadAction:
---

{% haml 2019/divination_page.haml %}
