---
layout: speaker
title: "OCCULTURE Berlin | Bianca Carina Wertheimer"
url: "https://www.occultureberlin.org/2019/lineup/bianca-carina-wertheimer"
description: "Step out of the dark: Public Rituals and Interfaith Dialoge  @OCCULTURE Berlin 2019"
image: "https://instagram.ftxl3-2.fna.fbcdn.net/vp/b8c16eb6c3c7dd3fbb3ccf2e7b8452e0/5DF55F68/t51.2885-15/e35/60768840_885682075118922_7479499716918227317_n.jpg?_nc_ht=instagram.ftxl3-2.fna.fbcdn.net&_nc_cat=106"
searchString: bianca-carina-wertheimer
onLoadAction:
---

{% haml 2019/event_page.haml %}
