---
layout: speaker
title: "OCCULTURE Berlin | Bianca Carina Wertheimer"
url: "https://www.occultureconference.com/2019/lineup/bianca-carina-wertheimer"
description: "Step out of the dark: Public Rituals and Interfaith Dialoge  @OCCULTURE Berlin 2019"
image: "https://image.jimcdn.com/app/cms/image/transf/none/path/s23502ea2a23638c1/image/i710c62c1a73ad731/version/1467195653/image.jpg"
searchString: bianca-carina-wertheimer
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
