---
layout: speaker
title: "OCCULTURE Berlin | Brian Cotnoir"
url: "https://www.occultureconference.com/2019/lineup/brian-cotnoir"
description: "Alchemy, The Emerald Tablet and the Creative Act @OCCULTURE Berlin 2019"
image: "http://www.mortlake.co/uploads/1/0/5/4/105401839/brian-cotnoir-2019_orig.jpg"
searchString: brian-cotnoir
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
