---
layout: speaker
title: "OCCULTURE Berlin | Chele Noaidi"
url: "https://www.occultureberlin.org/2019/lineup/chele-noaidi"
description: "DJ Set @OCCULTURE Berlin 2019"
image: "https://www.occultureberlin.org/images/speakers/janne.jpg"
searchString: chele-noaidi
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
