---
layout: speaker
title: "OCCULTURE Berlin | Christian Ermel"
url: "https://www.occultureberlin.org/2019/lineup/christian-ermel"
description: "The Necronom-Icons / The Archetypes of Fear - An Iconographic Pantheon @OCCULTURE Berlin 2019"
image: "https://www.christian-ermel.com/s/cc_images/teaserbox_39410481.jpg"
searchString: christian-ermel
onLoadAction:
---

{% haml 2019/event_page.haml %}
