---
layout: speaker
title: "OCCULTURE Berlin | Common Eider King Eider"
url: "https://www.occultureberlin.org/2019/lineup/common-eider-king-eider"
description: "A Wound Of Body, A Wound Of Earth @OCCULTURE Berlin 2019"
image: "https://i.imgur.com/hpYepkM.jpg"
searchString: common-eider-king-eider
onLoadAction:
---

{% haml 2019/event_page.haml %}
