---
layout: speaker
title: "OCCULTURE Berlin | David Rankine"
url: "https://www.occultureconference.com/2019/lineup/david-rankine"
description: "Magic for Money - the Practices of British Cunning-Folk @OCCULTURE Berlin 2019"
image: "https://scontent.ftxl3-1.fna.fbcdn.net/v/t1.0-9/69180631_10156253351827120_1142914381131022336_n.jpg?_nc_cat=103&_nc_oc=AQlz3UgMZi2qpf6fH_BpbTptN1EVGMSJsn84bU6uRPIMSkmkgADlS7-rSfQqmpY-g3cRhfd8UdtDgAK_vL2s9m9A&_nc_ht=scontent.ftxl3-1.fna&oh=5495ca06a4f302742f851bc0b85353de&oe=5E148294"
searchString: david-rankine
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
