---
layout: speaker
title: "OCCULTURE Berlin | Demetris Navras"
url: "https://www.occultureconference.com/2019/lineup/demetris-navras"
description: "__title @OCCULTURE Berlin 2019"
image: "https://www.occultureconference.com/images/speakers/navras-demetris.jpg"
searchString: demetris-navras
visible: __visible
onLoadAction:
---

{% haml 2019/divination_page.haml %}
