---
layout: speaker
title: "OCCULTURE Berlin | Dimitar Dimitrov"
url: "https://www.occultureberlin.org/2019/lineup/dimitar-dimitrov"
description: "Satan: Instrument of Liberty. History and evolution of Satanism. @OCCULTURE Berlin 2019"
image: "https://lh3.googleusercontent.com/i_w-XZEFHeccXv3Sh5jJ4yQsTdQbUGmCuQRbg7P5qOfdXEyLh0zawVq82s7VsarOfa_aDN_WvvlQtLNUZ5fpXYXg3V6fRPdZs29vfP2d6jR2-rNOrUijDdTBouNLXbKXMEw5J5cp2a4A2JjIwDMzHfYgVpRLz1D4c3rsZKZkW70A_69xkrRse6yGLTL88Td4eM1geYtqhBquFYWB8rNRmswa4-XzmOOrP6LfpjAz49oG9sOehoElhfeb5JgcSDpQ1yXL9irivH1fQvbBWlxBmWPG6aSx9pMlcNXZm-3MjzMi0ASAwp82bouzmWLj9GPCvfH6z7feyTACIxko6baeUeDqogYf6AeVJU1IcHjbGrZXW4SzBU554qU7_vdUT0F1JRtY-iwV1OxB_6k819bbWn8wlLgy3pjnVvvwQdY_ix82cfplRRwFVy10lRlgCKhdyrmGsOrqHw1mvj8jSGw7Ut-FQjq2UVamCAoRXL_LHvQ2ASze1bgHxD14AQaCd2EONRYG7FG-e75E2uyYzQegMICZSnfNLqG9zpN5y85spvcklTur-HEaXy-GcGf8kPvavmQQABnQfP6ax62bHrzd6ZkDN_n9cfa_NsFXinL90YJeRNtvWCzgs941L3rnjfuy9h1pMAFcltfjJ18lfVCMWPC2zrnL6YlbU6Vj1aEFdsb9pbN2rky575LlE5UT5lNzWCln-agwnqg0ppSA_8cOdDyBRlaIAD64jrTx7sND1W7ISA=s250-k-no"
searchString: dimitar-dimitrov
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
