---
layout: speaker
title: "OCCULTURE Berlin | Discordian Astrology"
url: "https://www.occultureberlin.org/2019/lineup/discordian-astrology"
description: "__title @OCCULTURE Berlin 2019"
image: "https://scontent.ftxl3-2.fna.fbcdn.net/v/t1.0-9/37028728_909928545878266_2536065995152293888_n.jpg?_nc_cat=104&_nc_eui2=AeFxakZcUDnFxrqmDDJ5YvCswtc40VX1TE6yT5qmGpRbzOURgk9RX_R4A716koWdibSWyCwJIjjz2vfI8jU8wbYnv0YzMIum8Ez5V7I_KAmHbA&_nc_oc=AQk51Zblryvn8X8FwZdB6eFX2pL0JMgs2BFntF4KIfuXBJhh6vCF4OcQjm5IumRYMjru1OfWbqsZGZfXw8lspKdO&_nc_ht=scontent.ftxl3-2.fna&oh=65e8fb60c5c9749538c8246668464c9c&oe=5E3AAAC3"
searchString: discordian-astrology
onLoadAction:
---

{% haml 2019/divination_page.haml %}
