---
layout: speaker
title: "OCCULTURE Berlin | Emma Watkinson"
url: "https://www.occultureberlin.org/2019/lineup/emma-watkinson"
description: "Esoteric Archetypes in Art. @OCCULTURE Berlin 2019"
image: "http://emanations.co.uk/wp-content/uploads/2012/01/10712886_10152314379621415_8857177535174576786_n.jpg?LMCL=VRc7xZ&LMCL=NCTSTJ&LMCL=VRc7xZ&LMCL=NCTSTJ&LMCL=VRc7xZ&LMCL=NCTSTJ"
searchString: emma-watkinson
onLoadAction:
---

{% haml 2019/event_page.haml %}
