---
layout: speaker
title: "OCCULTURE Berlin | Emma Watkinson"
url: "https://www.occultureconference.com/2019/lineup/emma-watkinson-art"
description: "Emanations , the Art of Emma Watkinson @OCCULTURE Berlin 2019"
image: "https://www.occultureberlin.org/images/speakers/watkinson-emma.jpg"
searchString: emma-watkinson-art
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
