---
layout: speaker
title: "OCCULTURE Berlin | Emma Watkinson"
url: "https://www.occultureberlin.org/2019/lineup/emma-watkinson"
description: "Esoteric Archetypes in Art. @OCCULTURE Berlin 2019"
image: "https://www.occultureberlin.org/images/speakers/watson-emma.jpg"
searchString: emma-watkinson
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
