---
layout: speaker
title: "OCCULTURE Berlin | Eudaimon"
url: "https://www.occultureberlin.org/2019/lineup/eudaimon"
description: "Iboga - Guided Near-Death-Experiences for spiritual Initiation @OCCULTURE Berlin 2019"
image: "https://i.postimg.cc/43Wz0h8W/IMG-20190131-WA0000.jpg"
searchString: eudaimon
onLoadAction:
---

{% haml 2019/event_page.haml %}
