---
layout: speaker
title: "OCCULTURE Berlin | Geraldine Hudson"
url: "https://www.occultureberlin.org/2019/lineup/geraldine-hudson"
description: "Where Does A Body End - Artists talk reflecting on ritual performative practice @OCCULTURE Berlin 2019"
image: "https://geraldinewolfe.files.wordpress.com/2019/10/blurredcrowhand.jpg?w=750"
searchString: geraldine-hudson
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
