---
layout: speaker
title: "OCCULTURE Berlin | Guillaume"
url: "https://www.occultureberlin.org/2019/lineup/guillaume"
description: "SHIATSU & REIKI MASSAGE
 @OCCULTURE Berlin 2019"
image: "https://www.occultureberlin.org/images/speakers/guillaume.jpeg"
searchString: guillaume
visible: __visible
onLoadAction:
---

{% haml 2019/healer_page.haml %}
