---
layout: speaker
title: "OCCULTURE Berlin | Kasper Opstrup"
url: "https://www.occultureconference.com/2019/lineup/kasper-opstrup"
description: "Memories of the Space Age: The Cosmic Futurism of Timothy Leary and Robert Anton Wilson @OCCULTURE Berlin 2019"
image: "https://piccadillyexhibitioncompany.files.wordpress.com/2014/12/black_hole_udsnit-klar.jpg"
searchString: kasper-opstrup
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
