---
layout: speaker
title: "OCCULTURE Berlin | Kassandra the Kat"
url: "https://www.occultureberlin.org/2019/lineup/kassandra-the-kat"
description: "__title @OCCULTURE Berlin 2019"
image: "https://scontent.ftxl3-1.fna.fbcdn.net/v/t1.0-9/70190338_2385263301747389_2212700617560817664_o.jpg?_nc_cat=111&_nc_oc=AQlaeXbY38tTKHDb-S27q3xmn6hu3N-ScqEEO93tBOwGPCSywUt39-Jloi8OXT2Zi_MXC_SL5XCa3Yws9iynxX-M&_nc_ht=scontent.ftxl3-1.fna&oh=ed1c509009091d6fd649615208b3854e&oe=5DEF3847"
searchString: kassandra-the-kat
onLoadAction:
---

{% haml 2019/divination_page.haml %}
