---
layout: speaker
title: "OCCULTURE Berlin | Katharina Louise"
url: "https://www.occultureberlin.org/2019/lineup/katharina-louise"
description: "Water Blessing Ceremony @OCCULTURE Berlin 2019"
image: "https://scontent.ftxl3-1.fna.fbcdn.net/v/t1.0-9/53423719_2259592817647772_4980842791140589568_o.jpg?_nc_cat=108&_nc_oc=AQkNQ7pZAlThijztzP57vO-Mqrq6JF6yt3A0kcSfFDLWk6TcKhGHyCsRGnkBePZBH98GsBRqdwF5FVTpNiztKypr&_nc_ht=scontent.ftxl3-1.fna&oh=1b95dd6bb2ff376678fb5393d397c089&oe=5E1B73F3"
searchString: katharina-louise
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
