---
layout: speaker
title: "OCCULTURE Berlin | Kavi Karnapura"
url: "https://www.occultureberlin.org/2019/lineup/kavi-karnapura"
description: "Advanced Lunar Elections using Tara @OCCULTURE Berlin 2019"
image: "https://static1.squarespace.com/static/5ace07fc0dbda3d33eff799d/t/5cea2072eef1a12eced4477e/1564928495487/?format=1500w"
searchString: kavi-karnapura
onLoadAction:
---

{% haml 2019/event_page.haml %}
