---
layout: speaker
title: "OCCULTURE Berlin | Kyra Jacques-Grundy"
url: "https://www.occultureberlin.org/2019/lineup/kyra-jacques-grundy"
description: "Rediscovering Our Roots - Celtic Shamanism and the Ancestral Journey @OCCULTURE Berlin 2019"
image: "https://lh5.googleusercontent.com/0n9YdM31MICifXPo0SNYaKWXanTiBzag5Y7gtKvnNjgJNH0Pl30nenRlx7LkAITaULK0Zm4kqJq1yA=w1920-h1082"
searchString: kyra-jacques-grundy
onLoadAction:
---

{% haml 2019/event_page.haml %}
