---
layout: speaker
title: "OCCULTURE Berlin | Kyra Jacques-Grundy"
url: "https://www.occultureberlin.org/2019/lineup/kyra-jacques-grundy"
description: "Rediscovering Our Roots - Celtic Shamanism and the Ancestral Journey @OCCULTURE Berlin 2019"
image: "https://www.occultureberlin.org/images/speakers/jacques-grundy-kyra.jpg"
searchString: kyra-jacques-grundy
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
