---
layout: speaker
title: "OCCULTURE Berlin | Leandro Scarcelli"
url: "https://www.occultureberlin.org/2019/lineup/leandro-scarcelli"
description: "FLOWER ESSENCE & WATER THERAPY @OCCULTURE Berlin 2019"
image: "https://www.occultureberlin.org/images/speakers/scarcelli-leandro.jpg"
searchString: leandro-scarcelli
visible: __visible
onLoadAction:
---

{% haml 2019/healer_page.haml %}
