---
layout: speaker
title: "OCCULTURE Berlin | Letizia Iman"
url: "https://www.occultureberlin.org/2019/lineup/letizia-iman"
description: "Dirt Pulse @OCCULTURE Berlin 2019"
image: "https://static.livebooks.com/e4adc0e305d94489aebc1be7e2b064e1/i/cbef43363ad04981b133715a672dfce5/1/2GTQbgiNxerRr5gcT6hkjr8dsnb6NBTxXMi2obS?dpr=1.25/cm_Letizia_Iman_0242-copyfw.jpg"
searchString: letizia-iman
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
