---
layout: speaker
title: "OCCULTURE Berlin | Louise"
url: "https://www.occultureconference.com/2019/lineup/louise"
description: "SOUND THERAPY
 @OCCULTURE Berlin 2019"
image: "https://www.occultureconference.com/images/speakers/louise.jpeg"
searchString: louise
visible: __visible
onLoadAction:
---

{% haml 2019/healer_page.haml %}
