---
layout: speaker
title: "OCCULTURE Berlin | Marleen Thaler"
url: "https://www.occultureberlin.org/2019/lineup/marleen-thaler"
description: "The New Jerusalem Diagram. John Michell's Staircase to Heaven @OCCULTURE Berlin 2019"
image: "https://rw-ktf.univie.ac.at/fileadmin/_processed_/csm_MarleenThaler_sw_e16daa391e.jpg"
searchString: marleen-thaler
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
