---
layout: speaker
title: "OCCULTURE Berlin | Michael Henry"
url: "https://www.occultureconference.com/2019/lineup/michael-henry"
description: "Astrology: Celestial Chapters @OCCULTURE Berlin 2019"
image: "https://www.occultureconference.com/images/speakers/henry-michael.jpg"
searchString: michael-henry
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
