---
layout: speaker
title: "OCCULTURE Berlin | Michael Henry"
url: "https://www.occultureberlin.org/2019/lineup/michael-henry"
description: "Astrology: Celestial Chapters @OCCULTURE Berlin 2019"
image: "https://www.facebook.com/111945166870572/photos/a.136403501091405/136403427758079/?type=3&av=111945166870572&eav=AfbWXKl4clnTPwQWP_uBotmcpmhxuZY6uIgk2yB4SeEUIayfGYXnfqeAYyPMptUCUfQ&theater"
searchString: michael-henry
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
