---
layout: speaker
title: "OCCULTURE Berlin | Nika Fontaine"
url: "https://www.occultureconference.com/2019/lineup/nika-fontaine"
description: "Zohar revealed @OCCULTURE Berlin 2019"
image: "https://www.creative-city-berlin.de/media/people/NikaFontaine/avatar/_cache/201901122054190889.jpg_og.jpg?t=201901130114"
searchString: nika-fontaine
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
