---
layout: speaker
title: "OCCULTURE Berlin | Nina Kim"
url: "https://www.occultureconference.com/2019/lineup/nina-kim"
description: "Psychedelic Reiki Massage @OCCULTURE Berlin 2019"
image: "https://images.squarespace-cdn.com/content/v1/56cfd6063c44d8b9570eff6d/1523522942221-1M8WLTS7RLF3I8MQ5IQI/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0pE4cef1KNtWo36k-CFnr6wOF2g5O-PFkVuvW_ba6dQUZZpzEt6WQHHQe4EHY-NJIA/ninakim.png?format=1500w"
searchString: nina-kim
visible: __visible
onLoadAction:
---

{% haml 2019/healer_page.haml %}
