---
layout: speaker
title: "OCCULTURE Berlin | Orryelle Defenestrate-Bascule"
url: "https://www.occultureconference.com/2019/lineup/orryelle-defenestrate-bascule-divination"
description: "__title @OCCULTURE Berlin 2019"
image: "http://www.crossroads.wild.net.au/wheel.jpg"
searchString: orryelle-defenestrate-bascule-divination
visible: __visible
onLoadAction:
---

{% haml 2019/divination_page.haml %}
