---
layout: speaker
title: "OCCULTURE Berlin | Orryelle Defenestrate-Bascule"
url: "https://www.occultureberlin.org/2019/lineup/orryelle-defenestrate-bascule-art"
description: "Esoterotica artwork @OCCULTURE Berlin 2019"
image: "http://www.crossroads.wild.net.au/wmelekdetail.jpg"
searchString: orryelle-defenestrate-bascule-art
onLoadAction:
---

{% haml 2019/event_page.haml %}
