---
layout: speaker
title: "OCCULTURE Berlin | Phurpa"
url: "https://www.occultureberlin.org/2019/lineup/phurpa"
description: "Chanting Meditation @OCCULTURE Berlin 2019"
image: "https://www.occultureberlin.org/images/speakers/phurpa.jpg"
searchString: phurpa
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
