---
layout: speaker
title: "OCCULTURE Berlin | Piotr Zakrzewski"
url: "https://www.occultureconference.com/2019/lineup/piotr-zakrzewski"
description: "Fortune Telling: from Poker deck to Tarot @OCCULTURE Berlin 2019"
image: "https://i.ibb.co/P608wbf/61277304-575141209643998-1359838078146969600-n.png"
searchString: piotr-zakrzewski
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
