---
layout: speaker
title: "OCCULTURE Berlin | Prisma"
url: "https://www.occultureconference.com/2019/lineup/prisma"
description: "Prisma Dj Set (Shika Shika) @OCCULTURE Berlin 2019"
image: "https://www.occultureberlin.org/images/speakers/prisma.jpg"
searchString: prisma
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
