---
layout: speaker
title: "OCCULTURE Berlin | Sarah Janes"
url: "https://www.occultureconference.com/2019/lineup/sarah-janes"
description: "Sleep Magic: Sleep Temples and Dream Incubation @OCCULTURE Berlin 2019"
image: "https://scontent.ftxl3-2.fna.fbcdn.net/v/t1.0-9/14441023_1122807251148514_2145666311848351674_n.jpg?_nc_cat=106&_nc_oc=AQkc46U2yT2oD513LMu2Oda1lyE_O56xre2UKg5hFZD0uarpzqFn9UZc1Dy9L0yvDVjQE24uGx0qDTchn1UEcbhT&_nc_ht=scontent.ftxl3-2.fna&oh=445025df20f523e853bdbdb207825490&oe=5DF37F96"
searchString: sarah-janes
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
