---
layout: speaker
title: "OCCULTURE Berlin | Tobias Raayoni Last"
url: "https://www.occultureberlin.org/2019/lineup/tobias-raayoni-last"
description: "Close Encounters with Placeness @OCCULTURE Berlin 2019"
image: "https://i.postimg.cc/Nft3c9FV/placeness.jpg"
searchString: tobias-raayoni-last
onLoadAction:
---

{% haml 2019/event_page.haml %}
