---
layout: speaker
title: "OCCULTURE Berlin | Vincent Moon and Petites Planètes"
url: "https://www.occultureconference.com/2019/lineup/vincent-moon-and-petites-planetes"
description: "Trance and rites - a selection of short films from the Petites Planètes Collection @OCCULTURE Berlin 2019"
image: "https://petitesplanetes.earth/content/biography/camille-bokhobza-web.jpg"
searchString: vincent-moon-and-petites-planetes
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
