---
layout: speaker
title: "OCCULTURE Berlin | Vortex"
url: "https://www.occultureberlin.org/2019/lineup/vortex"
description: "As Gods Fall - Ragnaroek Ritual @OCCULTURE Berlin 2019"
image: "https://f4.bcbits.com/img/0014007500_23.jpg"
searchString: vortex
onLoadAction:
---

{% haml 2019/event_page.haml %}
