---
layout: speaker
title: "OCCULTURE Berlin | Wahid Azal"
url: "https://www.occultureconference.com/2019/lineup/wahid-azal"
description: "“Verily I Am God” (إنّني أنا الله): Linguistic Theosis and Theurgical Apotheosis in the writings of the Bāb @OCCULTURE Berlin 2019"
image: "https://www.occultureberlin.org/images/speakers/azal-n-wahid.jpg"
searchString: wahid-azal
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
