---
layout: speaker
title: "OCCULTURE Berlin | Yoav Shavit"
url: "https://www.occultureberlin.org/2019/lineup/yoav-shavit-divination"
description: "__title @OCCULTURE Berlin 2019"
image: "https://scontent.fham1-1.fna.fbcdn.net/v/t1.0-9/28951950_2053226474918054_657846882049648225_n.jpg?_nc_cat=102&_nc_oc=AQmvtqUYnTzDSYmvq5kHbw_F2i8bA6lTeTSIKwuYX2W-J1PUEyAjDZqyS3naF7fyb34&_nc_ht=scontent.fham1-1.fna&oh=aee8a9c33b443b5182a4929bab2006e7&oe=5DA42E75"
searchString: yoav-shavit-divination
onLoadAction:
---

{% haml 2019/divination_page.haml %}
