---
layout: speaker
title: "OCCULTURE Berlin | Yoav Shavit"
url: "https://www.occultureconference.com/2019/lineup/yoav-shavit-divination"
description: "__title @OCCULTURE Berlin 2019"
image: "https://www.occultureconference.com/images/speakers/shavit-yoav.jpg"
searchString: yoav-shavit-divination
visible: __visible
onLoadAction:
---

{% haml 2019/divination_page.haml %}
