---
layout: speaker
title: "OCCULTURE Berlin | Yoav Shavit"
url: "https://www.occultureberlin.org/2019/lineup/yoav-shavit"
description: "Biography of the Soul @OCCULTURE Berlin 2019"
image: "https://www.occultureberlin.org/images/speakers/shavit-yoav.jpg"
searchString: yoav-shavit
visible: __visible
onLoadAction:
---

{% haml 2019/event_page.haml %}
