@font-face {
  font-family: keepCalm;
  src: url("../fonts/KeepCalm-Medium.ttf");
}

@font-face {
  font-family: cinzel;
  src: url('../fonts/Cinzel-Regular.ttf');
}

@font-face {
  font-family: latoBold;
  src: url("../fonts/Lato-Bold.ttf");
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

ol, ul {
  list-style: none;
  padding: 0;
}

body {
  background: #000;
  color: darkgrey;
}

section {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.inner {
  margin: auto 7vw;
}

#footer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

#footer .links-wrapper {
  grid-row: 1;
  align-self: center;
  justify-self: left;
}

#footer .links-wrapper .tag-line {
  text-transform: uppercase;
  font-family: 'keepCalm';
  font-size: 3rem;
  letter-spacing: 7px;
  text-align: center;
}

#footer .links-wrapper .social-links {
  margin-top: 2vh;
}

#footer .links-wrapper .social-links li {
  display: inline-block;
  width: 23%;
  text-align: center;
}

#footer .links-wrapper .social-links li img {
  width: 80%;
}

#footer .mailing-list-wrapper {
  grid-row: 1;
  align-self: center;
  justify-self: center;
}

#footer .mailing-list-wrapper .title {
  font-size: 3rem;
  font-family: 'cinzel';
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5em;
}

#footer .mailing-list-wrapper .sub-title {
  font-family: 'keepCalm';
  text-transform: uppercase;
  text-align: center;
}

#footer .mailing-list-wrapper #mailing-list-input {
  margin-top: 2vh;
}

#footer .mailing-list-wrapper #mailing-list-input #tlemail {
  width: 95%;
  height: 3vh;
}

#footer .mailing-list-wrapper #mailing-list-input .button {
  width: 95%;
  height: 3.5vh;
  background: darkgrey;

  font-family: 'keepCalm';
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;

  cursor: pointer;
  margin-top: 0.5em;
  border: none;
}

#footer .closing-ritual-image {
  grid-row: 2;
  grid-column: 1/3;
  background-image: url('../images/events/2019/enid-closing-ritual.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(0.1);
}

@media(min-width: 500px) {
  #footer .links-wrapper .social-links li img {
    width: unset;
  }
}
