@font-face {
  font-family: keepCalm;
  src: url("../fonts/KeepCalm-Medium.ttf");
}

@font-face {
  font-family: cinzel;
  src: url('../fonts/Cinzel-Regular.ttf');
}

@font-face {
  font-family: latoBold;
  src: url("../fonts/Lato-Bold.ttf");
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

ol, ul {
  list-style: none;
  padding: 0;
}

body {
  background: #000;
  color: white;
}

section {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

/* use in conjunction with .vertically-centered-content-wrapper */
.vertically-centered-section {
  display: table;
}

/* use in conjunction with .vertically-centered-section */
.vertically-centered-content-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.vertically-centered-content-wrapper .fixed-title {
   position: absolute;
   top: 3vh;
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
}

.half-section {
  height: 50vh;
}

.inner {
  margin: auto 7vw;
}

.hidden {
  display: none;
}

/* catch the spacer in default nav styling */
.nav {
  color: #555;
  font-size: 1.3em;
}

.nav li {
  display: inline-block;
  margin: auto 1vw;
  cursor: pointer;

  text-align: center;
}

.nav li.selected {
  color: #fff;
}

.content-wrapper {
  margin-top: 3vh;

  text-align: center;
  font-family: 'cinzel', 'serif';
  font-size: 2vh;
  text-transform: uppercase;

  z-index: 1;
  position: relative;
}

.content-wrapper .icon {
  width: 12vw;
}

@media(min-width: 500px) {
  .content-wrapper .icon {
    width: 8vw;
  }
}
