#landing {
  background-image: url('../images/2020/prague-landing.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#landing .content-wrapper .logo {
  width: 40vh;
  margin-bottom: 1em;
}

#landing .content-wrapper .information {
  position: relative;
  bottom: -40vh;
}

@media(min-width: 500px) {
  #landing .content-wrapper .icon {
    margin: 0.5em auto;
  }
}

@media(min-width: 1200px) {
  #landing .content-wrapper {
    margin-top: 8vh;
  }
}

@media(min-width: 1600px) {
  #landing {
    background-size: contain;
  }

  #landing .content-wrapper {
    margin-top: 8vh;
  }

  #landing .content-wrapper .logo {
    margin-bottom: 1em;
  }
}
