#landing {
  background-image: url('../images/2020/bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#landing img.body-system {
  position: absolute;
  top: 4vh;
  height: 95vh;
  opacity: 0.5;
}

#landing img#body-system-left {
  left: 0;
}

#landing img#body-system-right {
  right: 0;
}

#landing .content-wrapper .logo {
  width: 77vw;
  margin-bottom: 1em;
}

@media(min-width: 500px) {
  #landing .content-wrapper .logo {
    width: 55vw;
  }

  #landing .content-wrapper .icon {
    width: 4vh;
    margin: 0.5em auto;
  }
}

@media(min-width: 1200px) {
  #landing .content-wrapper {
    margin-top: 8vh;
  }

  #landing .content-wrapper .logo {
    width: 45vw;
    margin-bottom: 1em;
  }
}

@media(min-width: 1600px) {
  #landing .content-wrapper {
    margin-top: 8vh;
  }

  #landing .content-wrapper .logo {
    width: 30vw;
    margin-bottom: 1em;
  }
}
