/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

@font-face {
  font-family: keepCalm;
  src: url("../fonts/KeepCalm-Medium.ttf");
}

html {
  background: #000;
}

body {
  background: #000;
  color: #DCE0DF;
  font-family: keepCalm;
}

a {
  text-decoration: none;
  color: darkred;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ul, ol, dl {
  margin-bottom: 15px
}

ul {
  list-style-position: inside;
  padding-left: 20px;
  list-style-type: none;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.selected {
  text-decoration: underline;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/
section {
  font-size: 1.5em;
}

#header_wrap .inner {
  padding: 55px 10px 25px 10px;
}

#logo {
  width: 80%;
  border: none;
  box-shadow: none;
  display: block;
  margin-top: 12em;
  margin-left: auto;
  margin-right: auto;
}

#high-priority-information {
  font-size: 2.5em;
}

#nav {
  margin-bottom: 2em;
}

#nav li {
  display: inline-block;
  margin-right: 1em;
}

#nav-wrap:after {
  content: '';
  display: block;
  clear: both;
}

#call-for-abstracts #topics-of-interest {
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  display: block;
}

#call-for-abstracts #topics-of-interest li {
  margin-bottom: 0.1em;
  padding: 0;
  float: left;
  width: 25%;
}

#topics-of-interest:after {
  content: '';
  display: block;
  clear: both;
}

#proposal-questions {
  padding: 1em;
  margin-left: 2em;
  margin-right: 2em;
  text-align: left;
  background: #222;
}

#contact-us {
  font-size: 1.3em;
}

.tab-button {
  color: darkred;
  cursor: pointer;
  font-size: 2em;
}

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 70%;
  padding: 15px 10px;
  margin: 0 auto;
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 1680px) {
  #call-for-abstracts #topics-of-interest li {
    width: 33%;
  }
}

@media screen and (max-width: 1120px) {
  #proposal-questions {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 800px) {
  #nav {
    margin-bottom: 0;
  }

  #nav li {
    display: list-item;
    margin-bottom: 0.5em;
  }

  #call-for-abstracts #topics-of-interest {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
  }

  #call-for-abstracts #topics-of-interest li {
    width: 100%;
  }

  #proposal-questions {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }
}
