/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

/* Set keepCalm font-family from file */
@font-face {
  font-family: keepCalm;
  src: url("../fonts/KeepCalm-Medium.ttf");
}

html {
  background: #000;
}

body {
  font-family: 'Raleway', cursive;
  min-height: 100%;
  background: #000;
  color: #DCE0DF;
  overflow-x: hidden;
}

#enochian-alphabet {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#enochian-alphabet img {
  width: 62em;
  opacity: 0.19;
}

#main-ticket-button {
  position: relative; /* otherwise this is hidden by the absolute positioning of the seal */
  text-align: center;
  font-size: 2em;
}

.buy-ticket-table {
  margin-left: auto;
  margin-right: auto;
}

.buy-ticket-table td {
  vertical-align: middle;
}

.buy-ticket-table img {
  width: 5em;
  padding: 0.3em;
}

.buy-ticket-table a {
  font-family: keepCalm;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #DCE0DF !important; /* overwrite anchor tag style */
}

.buy-ticket-table .left-image img {
  float: right;
}

.buy-ticket-table .right-image img {
  float: left;
}

#tickets #ticket-columns:after {
  content: '';
  display: block;
  clear: both;
  margin-bottom: 1em;
}

#tickets #ticket-columns .column {
  float: left;
  width: 33%;
}

#tickets #ticket-columns #left-column img {
  float: left;
}

#tickets #ticket-columns #right-column img {
  float: right;
}

#tickets #ticket-columns img {
  width: 90%;
  margin-top: 2em;
  opacity: 0.75
}

#tickets #ticket-columns #ticket-prices-banner {
  font-family: 'Metamorphous';
  font-size: 1.25em;
  margin-top: 1em;
}

#tickets #early-bird {
  font-family: keepCalm;
  color: darkred;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

#tickets #ticket-columns #prices {
  margin-top: 0.66em;
  margin-left: auto;
  margin-right: auto;
}

#tickets #ticket-columns #prices .strike-through td {
  color: darkred; /* font-color is also darkred */
  background-color: transparent;
  background-image: url(../images/red-dash.png) !important;
  background-position-x: 0%;
  background-position-y: 50%;
  background-repeat: repeat-x;
}

#tickets #ticket-columns #prices td {
  font-family: 'Metamorphous';
  font-size: 1.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#tickets #ticket-columns #prices .ticket-type {
  text-align: left;
}

#tickets #ticket-columns #prices .ticket-price {
  text-align: right;
}

#tickets #ticket-columns .buy-ticket-button {
  font-family: keepCalm;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-top: 2.5em;
}

#tickets #call-for-volunteers {
  clear: both;
}

/* https://stackoverflow.com/a/20352949/2128691 */
body::after {
  content: '';
  display: block;
  height: 3em; /* Set same as footer's height */
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3em;
  background: black;
  text-align: center;
  font-size: 12px;
}

#footer-links ul {
  list-style: none;
  margin-left: 0;
}

#footer-links li {
  vertical-align: middle;
}

#footer-links a {
  text-decoration: none;
  cursor: pointer;
}

#mailing-list-boop-boop {
  background: #000;
  position: fixed;
  top: 0;
  padding-top: 1em;
  border-bottom: 2px solid #DCE0DF;
}

#mailing-list-boop-boop form {
  float: left;
  width: 95%;
  text-align: center;
  margin-bottom: 0.3em;
}

#mailing-list-boop-boop form label {
  margin-left: 5%; /* make up for the 95% width of form */
  vertical-align: middle;
  font-family: 'Metamorphous';
}

#mailing-list-boop-boop form #tlemail {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#mailing-list-boop-boop form .button {
  vertical-align: middle;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
}

#mailing-list-boop-boop .close-button {
  float: right;
  width: 5%;
  text-align: center;
  cursor: pointer;
  font-family: keepCalm;
}

#impressum {
  font-family: serif;
  font-size: 10px;
}

#impressum h2 {
  color: #DCE0DF;
}

#impressum h4 {
  color: #DCE0DF;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: darkred;
}

a:visited {
  color: darkred;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 1.7em;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 1.5px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ul, ol, dl {
  margin-bottom: 15px
}

ul {
  list-style-position: inside;
  padding-left: 20px;
  list-style-type: none;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

.button {
  font-family: keepCalm;
  text-transform: uppercase;
  background: #DCE0DF;
  color: darkred;
  padding: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.center {
  text-align: center;
}

.justifed {
  text-align: justify;
  text-justify: inter-word;
}

.hidden {
  display: none;
}

.selected {
  text-decoration: underline;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/
section {
  font-size: 1.25em;
}

#header_wrap .inner {
  padding: 55px 10px 25px 10px;
}

#logo {
  width: 80%;
  border: none;
  box-shadow: none;
  display: block;
  margin-top: 12em;
  margin-left: auto;
  margin-right: auto;
}

#high-priority-information {
  color: darkred;
  font-family: 'Metamorphous', cursive;
  font-size: 2.5em;
}

#nav {
  margin-bottom: 2em;
}

#nav li {
  font-family: 'Metamorphous', cursive;
  color: darkred;
  text-transform: uppercase;
  font-size: 1.8em;
  display: inline-block;
  margin-right: 1em;
  cursor: pointer;
}

.sub-nav {
  margin-top: -3em !important;
}

.sub-nav li {
  font-family: 'KeepCalm';
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  margin-right: 1.2em;
  font-size: 1.3em;
}

#nav-wrap:after {
  content: '';
  display: block;
  clear: both;
}

#call-for-abstracts #topics-of-interest {
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  display: block;
}

#call-for-abstracts #topics-of-interest li {
  margin-bottom: 0.1em;
  padding: 0;
  float: left;
  width: 25%;
}

#call-for-abstracts #abstract-deadline {
  font-family: 'Metamorphous', cursive;
  font-size: 1.5em;
}

#call-for-abstracts #abstract-deadline td.image-holder {
  width: 25%;
}

#call-for-abstracts #abstract-deadline td.left-image {
  text-align: right;
}

#call-for-abstracts #abstract-deadline td.right-image {
  text-align: left;
}

#call-for-abstracts #abstract-deadline img {
  width: 25%;
  margin-top: 0.5em;
  margin-bottom: -1.5em;
}

#topics-of-interest:after {
  content: '';
  display: block;
  clear: both;
}

#proposal-questions {
  padding: 1em;
  margin-top: 1.5em;
  margin-left: 2em;
  margin-right: 2em;
  text-align: left;
  background: #222;
}

#lineup-wrap .speaker-wrap {
  min-width: 70%; /* this ensures the unknown speaker is displayed correctly */
  margin-bottom: 3em;
  float: left;
  margin-left: 10%;
  margin-right: 10%;
}

#lineup-wrap .speaker-wrap ul {
  list-style-type: circle;
}

#lineup-wrap .speaker-wrap .info-wrap {
  text-align: left;
  margin-left: 2em;
}

#lineup-wrap .speaker-wrap .avatar {
  margin-bottom: 0.5em;
  margin-left: 3em;
  margin-right: 2em;
  float: left;
  cursor: pointer; /* cause it's a link to speaker page */
}

#lineup-wrap .speaker-wrap .avatar img {
  width: 250px;
  height: 250px;
  opacity: 0.9;
}

#lineup-wrap .speaker-wrap .info-wrap .title {
  font-family: 'Metamorphous';
  cursor: pointer; /* cause it's a link to speaker page */
}

#lineup-wrap .speaker-wrap .info-wrap .name {
  font-family: 'KeepCalm';
  font-size: 123%;
  cursor: pointer; /* cause it's a link to speaker page */
}

#lineup-wrap .speaker-wrap .info-wrap .abstract {
  font-size: 0.8em;
}

#contact {
  font-size: 1.3em;
}

/* adblock hides this if it's called 'sponsors' */
#those-who-support-us-financially .vertical-spacer {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#those-who-support-us-financially img {
  width: 30%;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 2.5em;
  vertical-align: middle;
}

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 75%;
  padding: 15px 10px;
  margin: 0 auto;
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media (min-width: 1650px) {
  #call-for-abstracts #topics-of-interest li {
    width: 33%;
  }
}

@media (min-width: 1200px) and (max-width: 1649px) {
  #tickets #ticket-columns .buy-ticket-button {
    font-size: 1.1em;
    margin-top: 1.75em;
  }
}

@media (max-width: 1120px) {
  #mailing-list-boop-boop form label {
    display: block;
    padding: 0.5em;
  }

  #call-for-abstracts #abstract-deadline {
    font-size: 1.2em;
  }

  #call-for-abstracts #abstract-deadline td.image-holder {
    width: 20%;
  }

  #call-for-abstracts #abstract-deadline img {
    width: 45%;
  }

  #proposal-questions {
    font-size: 0.7em;
  }

  #tickets #ticket-columns .buy-ticket-button {
    font-size: 1em;
  }
}

@media (min-width: 800px) and (max-width: 970px) {
  #lineup-wrap .speaker-wrap {
    margin-left: 5%;
    margin-right: 5%;
  }

  #tickets #ticket-columns #ticket-prices-banner {
    font-size: 0.9em;
  }

  #tickets #ticket-columns #prices td {
    font-size: 1em;
  }

  .button {
    padding: 0.75em;
  }

  #nav li {
    font-size: 1.65em;
  }
}

@media (min-width: 0px) and (max-width: 1200px) {
  #lineup-wrap .speaker-wrap {
    margin-bottom: 3em;
    float: none;
    margin-left: 0;
    margin-right: 0
  }

  #lineup-wrap .speaker-wrap .avatar {
    width: 100%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    float: none;
  }

  #lineup-wrap .speaker-wrap .info-wrap {
    text-align: center;
    margin-left: 0;
  }
}

@media (min-width: 0px) and (max-width: 800px) {
  #logo {
    width: 100%;
  }

  #nav {
    margin-bottom: 0;
  }

  #nav li {
    font-size: 1.7em;
    display: list-item;
    margin-bottom: 0.5em;
  }

  .sub-nav li {
    display: list-item;
    margin-top: 0.5em;
  }

  #call-for-abstracts #topics-of-interest {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
  }

  #call-for-abstracts #topics-of-interest li {
    width: 100%;
  }

  #call-for-abstracts #abstract-deadline td.image-holder {
    width: 15%;
  }

  #call-for-abstracts #abstract-deadline img {
    width: 80%;
  }

  #proposal-questions {
    font-size: 0.6em;
  }

  #tickets #ticket-columns #prices td {
    font-size: 0.7em;
    padding-left: 0.2em;
    padding-right: 0.2em;
  }

  #tickets #ticket-columns .buy-ticket-button {
    font-size: 0.8em;
    margin-top: 1.35em;
  }
}

@media (max-width: 600px) {
  #tickets #ticket-columns .buy-ticket-button {
    font-size: 0.5em;
    margin-top: 1.35em;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }
}
