/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

code {
  font-size: 14px;
  width: 100%;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

/* Set keepCalm font-family from file */
@font-face {
  font-family: keepCalm;
  src: url("../fonts/KeepCalm-Medium.ttf");
}

@font-face {
  font-family: latoBold;
  src: url("../fonts/Lato-Bold.ttf");
}

html {
  background: #000;
}

body {
  font-family: 'Raleway', cursive;
  min-height: 100%;
  background: #000;
  color: #DCE0DF;
  overflow-x: hidden;
}

#landing-wrap {
  position: fixed;
  z-index: 23;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000;
  font-family: keepCalm;
}

#landing-wrap #logo {
  width: 50%;
  border: none;
  box-shadow: none;
  display: block;
  margin-top: 4vw;
  margin-left: auto;
  margin-right: auto;
}

#landing {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 3em;
  font-size: 1.7em;
  letter-spacing: 1px;
  line-height: 1;
  /*
  padding: 1em;
  border-radius: 1em;
  */
}

#landing img {
  width: 105%;
}

#landing .put-out-the-cold-facts {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 1em;
  font-family: latoBold;
  line-height: 1.1em;
}

#landing .put-out-the-cold-facts ul {
  margin: 0.8em;
}

#landing .put-out-the-cold-facts li.new-moon {
  align-self: center;
}

#landing .put-out-the-cold-facts li.full-moon {
  align-self: start;
}

#landing .put-out-the-cold-facts .title-text {
  text-transform: uppercase;
  font-size: 2vw;
}

#landing .put-out-the-cold-facts .context-text {
  font-size: 1.5vw;
}

#landing .put-out-the-cold-facts ul.new-moon-content {
  list-style-type: circle;
}

#landing .put-out-the-cold-facts ul.full-moon-content {
  list-style-type: disc;
}

#landing .put-out-the-cold-facts li {
  text-align: left;
}

#landing .strike-through {
  color: darkred;
  background-color: transparent;
  background-image: url(../images/red-dash.png) !important;
  background-size: 1em;
  background-position-x: 0%;
  background-position-y: 50%;
  background-repeat: repeat-x;
}

/********
#landing #ticket-button-wrap #special-price {
  font-size: 3em;
  letter-spacing: 0.1em;
}

#landing #schedule-button-wrap {
  margin-bottom: 5em;
}
*******/

#landing .button {
  display: inline-block;
  width: 50%;
  padding: 1.2em;
  margin-bottom: 1em;
}

#landing-wrap .close-button {
  position: fixed;
  bottom: 0;
  width: 75%;
  cursor: pointer;
  text-transform: uppercase;
  background: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#main-ticket-button {
  position: relative; /* otherwise this is hidden by the absolute positioning of the seal */
  text-align: center;
  font-size: 2em;
}

.buy-ticket-table {
  margin-left: auto;
  margin-right: auto;
}

.buy-ticket-table td {
  vertical-align: middle;
}

.buy-ticket-table img {
  width: 5em;
  padding: 0.3em;
}

.buy-ticket-table a {
  font-family: keepCalm;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #DCE0DF !important; /* overwrite anchor tag style */
}

.buy-ticket-table .left-image img {
  float: right;
}

.buy-ticket-table .right-image img {
  float: left;
}

#tickets #ticket-columns:after {
  content: '';
  display: block;
  clear: both;
  margin-bottom: 1em;
}

#tickets #ticket-columns .column {
  float: left;
  width: 33%;
}

#tickets #ticket-columns #left-column img {
  float: left;
}

#tickets #ticket-columns #right-column img {
  float: right;
}

#tickets #ticket-columns img {
  width: 90%;
  margin-top: 2em;
  opacity: 0.75
}

#tickets #ticket-columns #ticket-prices-banner {
  font-family: 'Metamorphous';
  font-size: 1.25em;
  margin-top: 1em;
}

#tickets #early-bird {
  font-family: keepCalm;
  color: darkred;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

#tickets #ticket-columns #prices {
  margin-top: 0.66em;
  margin-left: auto;
  margin-right: auto;
}

#tickets #ticket-columns #prices .strike-through td {
  color: darkred; /* font-color is also darkred */
  background-color: transparent;
  background-image: url(../images/red-dash.png) !important;
  background-position-x: 0%;
  background-position-y: 50%;
  background-repeat: repeat-x;
}

#tickets #ticket-columns #prices td {
  font-family: 'Metamorphous';
  font-size: 1.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#tickets #ticket-columns #prices .ticket-type {
  text-align: left;
}

#tickets #ticket-columns #prices .ticket-price {
  text-align: right;
}

#tickets #ticket-columns .buy-ticket-button {
  font-family: keepCalm;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-top: 2.5em;
}

#tickets #call-for-volunteers {
  clear: both;
}

#venue #map img {
  width: 45%;
  height: 450px;
  opacity: 0.9;
}

#venue #map iframe {
  width: 45%;
  height: 450px;
}

/* https://stackoverflow.com/a/20352949/2128691 */
body::after {
  content: '';
  display: block;
  height: 3em; /* Set same as footer's height */
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3em;
  background: black;
  text-align: center;
  font-size: 12px;
}

#footer-links ul {
  list-style: none;
  margin-left: 0;
}

#footer-links li {
  vertical-align: middle;
}

#footer-links a {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

#mailing-list-main {
  padding-top: 1em;
  vertical-align: middle;
  font-family: 'Metamorphous';
}

#mailing-list-main form {
  text-align: center;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

#mailing-list-main form #tlemail {
  width: 40%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#mailing-list-main form .button {
  vertical-align: middle;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
}

#mailing-list-boop-boop {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #DCE0DF;
}

#mailing-list-boop-boop form {
  float: left;
  width: 95%;
  text-align: center;
  margin-bottom: 0.3em;
}

#mailing-list-boop-boop form label {
  margin-left: 5%; /* make up for the 95% width of form */
  vertical-align: middle;
  font-family: 'Metamorphous';
}

#mailing-list-boop-boop form #tlemail {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#mailing-list-boop-boop form .button {
  vertical-align: middle;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
}

#mailing-list-boop-boop .close-button {
  float: right;
  width: 5%;
  text-align: center;
  cursor: pointer;
  font-family: keepCalm;
}

#impressum {
  font-family: serif;
  font-size: 10px;
}

#impressum h2 {
  color: #DCE0DF;
}

#impressum h4 {
  color: #DCE0DF;
}

/* link styling */

#styles-2018 a {
  color: darkred;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 1.7em;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 1.5px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ul, ol, dl {
  margin-bottom: 15px
}

ul {
  list-style-position: inside;
  padding-left: 20px;
  list-style-type: none;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

/* button styling */

#styles-2018 .button {
  color: darkred;
  background: #DCE0DF;
}

.button {
  font-family: keepCalm;
  color: black;
  text-transform: uppercase;
  background: #dce0df;
  padding: 0.7em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 75%;
  padding: 15px 10px;
  margin: 0 auto;
}


.center {
  text-align: center;
}

.justifed {
  text-align: justify;
  text-justify: inter-word;
}

.center-justifed {
  text-align: justify;
  text-justify: inter-word;
  text-align-last: center;
}

.hidden {
  display: none;
}

.underline {
  text-decoration: underline;
}

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 75%;
  padding: 15px 10px;
  margin: 0 auto;
}


/*******************************************************************************
Full-Width Styles
*******************************************************************************/
section {
  font-size: 1.25em;
}

#bg-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#sigil-of-attraction #bg-image {
  width: 60em;
  opacity: 0.22;
}

#enochian-alphabet #bg-image {
  width: 62em;
  opacity: 0.19;
}


#header_wrap .inner {
  padding: 55px 10px 25px 10px;
}

#image-carousel {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 23vw;
  margin-bottom: -8em;
  padding-top: 3em;
}

#image-carousel #images {
}

#image-carousel li {
  position: absolute;
  display: table-cell;
  vertical-align: middle;
}

#image-carousel li.last-img {
  right: -8%;
  opacity: 0.6;
}

#image-carousel li.active-img {
  right: 32%;
  opacity: 0.9;
}

#image-carousel li.first-img {
  right: 72%;
  opacity: 0.6;
}

#image-carousel img {
  width: 35vw;
  opacity: 0.75;
  margin-left: 1em;
  border: 0.2em solid white;
}

@keyframes slideshow {
  0%    { right: 0; }
  100%  { right: -200%; }
}

#logo {
  width: 35vw;
  border: none;
  box-shadow: none;
  display: block;
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
}

#high-priority-information {
  color: red;
  font-family: latoBold;
  font-size: 1.6rem;
  margin-bottom: 2em;
  text-transform: uppercase;
}

#high-priority-information-wrap img {
  width: 35vw;
  opacity: 0.75;
}

#high-priority-information-wrap #tickets-wrap {
  margin-top: 1em;
  margin-bottom: 1em;
}

#high-priority-information-wrap #tickets-wrap a {
  font-family: 'keepcalm';
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a.schedule-link {
  color: #dce0df;
  font-family: keepCalm;
  font-size: 2.5rem;
  text-transform: uppercase;
}

#nav {
  margin-bottom: 2em;
}

#nav li {
  font-family: latoBold;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.5em;
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

/* poor man's !important */
#nav li.hidden {
  display: none;
}

#nav li#tickets-button {
  background: red;
}

#nav li.button {
  padding: 0.3em;
}

#nav li.selected {
  background: black;
  color: #dce0df;
  text-decoration: none;
}

.sub-nav {
  margin-top: -3em !important;
}

.sub-nav li {
  font-family: 'KeepCalm';
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  margin-right: 1.2em;
  font-size: 1.3em;
}

#nav-wrap:after {
  content: '';
  display: block;
  clear: both;
}

#call-for-abstracts {
  margin-bottom: 3em;
}

#call-for-abstracts #submission-deadline {
  font-family: 'Metamorphous', cursive;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 2em;
}

#call-for-abstracts #submission-button {
  padding: 2em;
}

#topics-of-interest:after {
  content: '';
  display: block;
  clear: both;
}

#proposal-questions {
  padding: 1em;
  margin-top: 1.5em;
  margin-left: 2em;
  margin-right: 2em;
  text-align: left;
  background: #222;
}

#lineup-2019-wrap #lineup-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.5em;
}

#lineup-2019-wrap .event-wrap {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
}

#lineup-2019-wrap .avatar img {
  object-fit: cover;
  min-width: 25vw;
  max-width: 25vw;
  min-height: 25vw;
  max-height: 25vw;
  border: 3px solid white;
}

#lineup-2019-wrap .info-wrap {
  font-family: latoBold;
  text-transform: uppercase;
  align-self: end;
  border: 3px soild white;
}

#lineup-2019-wrap .info-wrap .name {
  margin: 0.2em;
  padding: 0.5em;
  background: white;
  color: black;
}

/* i did this to myself. i did this to myself. i did this to myself. */
#lineup-2018-wrap .event-wrap,
#schedule-wrap .event-wrap {
  min-width: 70%; /* this ensures the unknown speaker is displayed correctly */
  margin-bottom: 3em;
  float: left;
  margin-left: 10%;
  margin-right: 10%;
}

#lineup-2018-wrap .event-wrap ul,
#schedule-wrap .event-wrap ul {
  list-style-type: circle;
}

#lineup-2018-wrap .event-wrap .info-wrap {
  text-align: left;
  margin-left: 2em;
}

#lineup-2018-wrap .event-wrap .avatar {
  margin-bottom: 0.5em;
  margin-left: 3em;
  margin-right: 2em;
  float: left;
  cursor: pointer; /* cause it's a link to speaker page */
}

#lineup-2018-wrap .event-wrap .avatar img,
#schedule-wrap .event-wrap .avatar img {
  width: 250px;
  height: 250px;
  opacity: 0.9;
}

#lineup-2018-wrap .event-wrap .info-wrap .title {
  font-family: 'Metamorphous';
  cursor: pointer; /* cause it's a link to speaker page */
}

#lineup-2018-wrap .event-wrap .info-wrap .name {
  font-family: 'KeepCalm';
  font-size: 123%;
  cursor: pointer; /* cause it's a link to speaker page */
}

#lineup-2018-wrap .event-wrap .info-wrap .description,
#schedule-wrap .event-wrap .info-wrap .description {
  font-size: 0.8em;
}

#contact {
  font-size: 1.3em;
}

#contact a {
  color: red;
}

/* adblock hides this if it's called 'sponsors' */
#friends-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1em;
}

#friends-grid li {
  align-self: center;
}

#friends-grid img {
  width: 100%;
}

ul.donation-method {
  padding: 0;
}

.donation-method {
  width: 33%;
  float: left;
  margin-bottom: 3em;
}

.paypal-wrapper a {
  color: white;
}


code.donation-address {
  letter-spacing: -1px;
}

.qr-code {
  margin-bottom: 1em;
  width: 7em;
  height: 7em;
}

.logo-wrap {
  height: 5em;
}

.crypto-logo {
  width: 9em;
  margin-top: 1em;
  margin-bottom: 2em;
}

#event {
  display: grid;
  grid-column-gap: 1em;
  grid-template-columns: 1fr 2fr;
}

#event .title {
  grid-column: 1/3;
  font-family: latoBold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom: 1em;
  padding: 1em;
  background: white;
  color: black;
}

#event .avatar img {
  width: 100%;
}

#event .avatar .name {
  font-family: 'Metamorphous';
}

#event .main-info-wrap {
  display: grid;
  grid-template-rows: 1fr 3fr 3fr;
  grid-row-gap: 0.5em;
}

/*******************************************************************************
Small Device Styles
*******************************************************************************/


@media (min-width: 1600px) {
  #lineup-2019-wrap #lineup-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #lineup-2019-wrap .avatar img {
    min-width: 18vw;
    max-width: 18vw;
    min-height: 18vw;
    max-height: 18vw;
  }
}

@media (min-width: 1200px) and (max-width: 1649px) {
  #tickets #ticket-columns .buy-ticket-button {
    font-size: 1.1em;
    margin-top: 1.75em;
  }
}

@media (max-width: 1500px) {
  #venue #map img {
    width: 80%;
    height: auto;
  }

  #venue #map iframe {
    width: 80%;
  }
}

@media (max-width: 1120px) {
  #landing {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  #landing img {
    width: 35vw;
  }

  #landing .put-out-the-cold-facts {
    justify-self: center;
    line-height: normal;
    margin-top: 1em;
  }

  #landing .put-out-the-cold-facts .title-text {
    text-align: center;
    font-size: 3vw;
  }

  #landing .put-out-the-cold-facts .context-text {
    font-size: 2vw;
  }

  #mailing-list-boop-boop form label {
    display: block;
    padding: 0.5em;
  }

  #call-for-abstracts #abstract-deadline {
    font-size: 1.2em;
  }

  #call-for-abstracts #abstract-deadline td.image-holder {
    width: 20%;
  }

  #call-for-abstracts #abstract-deadline img {
    width: 45%;
  }

  #proposal-questions {
    font-size: 0.7em;
  }

  #tickets #ticket-columns .buy-ticket-button {
    font-size: 1em;
  }

  #logo {
    width: 100%;
  }

  #image-carousel {
    height: 40vw;
  }

  #image-carousel li.last-img {
    right: -47%;
  }

  #image-carousel li.active-img {
    right: 17%;
  }

  #image-carousel li.first-img {
    right: 81%;
  }

  #image-carousel img {
    width: 60vw;
  }

  #nav li {
    width: 100%;
    font-size: 1.65em;
  }
}

@media (min-width: 800px) and (max-width: 970px) {
  #lineup-2018-wrap .event-wrap {
    margin-left: 5%;
    margin-right: 5%;
  }

  #tickets #ticket-columns #ticket-prices-banner {
    font-size: 0.9em;
  }

  #tickets #ticket-columns #prices td {
    font-size: 1em;
  }

  .button {
    padding: 0.75em;
  }
}

@media (min-width: 0px) and (max-width: 1200px) {
  #lineup-2018-wrap .event-wrap,
  #schedule-wrap .event-wrap {
    margin-bottom: 3em;
    float: none;
    margin-left: 0;
    margin-right: 0
  }

  #lineup-2018-wrap .event-wrap .avatar,
  #schedule-wrap .event-wrap .avatar {
    width: 100%;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    float: none;
  }

  .event-wrap .info-wrap {
    text-align: center;
    margin-left: 0;
  }

  .donation-method {
    width: 100%;
  }
}

@media (min-width: 0px) and (max-width: 1000px) {
  #lineup-2019-wrap #lineup-grid {
    grid-template-columns: 1fr;
  }

  #lineup-2019-wrap .avatar img {
    min-width: 75vw;
    max-width: 75vw;
    min-height: 75vw;
    max-height: 75vw;
  }

  #event {
    display: block;
  }
}

@media (min-width: 0px) and (max-width: 800px) {
  #landing img {
    width: 45vw;
  }

  #landing .put-out-the-cold-facts .title-text {
    font-size: 4vw;
  }

  #landing .put-out-the-cold-facts .context-text {
    font-size: 3vw;
  }

  #nav {
    margin-bottom: 0;
  }

  #nav li {
    font-size: 1.7em;
    display: list-item;
  }

  .sub-nav li {
    display: list-item;
    margin-top: 0.5em;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }
}
