<div class='event-wrap'>
  <div class='avatar'>
    <img src='{{avatarPath}}' alt='{{name}}'></img>
  </div>
  <div class='main-info'>
    <div class='title'>{{title}}</div>
    <div class='name'>{{name}}</div>
    <div class='date'>{{date}} {{start}} - {{end}}</div>
  </div>

  <div class='description'>{{{description}}}</div>

  <a class='button' onclick="hideEventModal()">return to schedule</a>
  <a class='button' onclick="goToPage('lineup-2018.html#{{searchString}}')">
    speaker page
  </a>
</div>
