---
layout: speaker
title: "OCCULTURE Berlin | __name"
url: "https://www.occultureberlin.org/2019/lineup/__searchString"
description: "__title @OCCULTURE Berlin 2019"
image: "__avatarPath"
searchString: __searchString
onLoadAction:
---

{% haml 2019/event_page.haml %}
