<!--

  this layout accepts the following variables:

  title - meta tag title
  description - meta tag description
  url - meta tag url
  image - open graph image displayed in previews
  background_image - image in the background of the site
  background_image_id - css id for the background image
  onLoadAction - javascript function to run on page load
  displayImageCarousel - [hidden by default] show the image carousel

-->

<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ page.title }}</title>

    <meta charset='utf-8'>
    <meta name="description"          content="{{ page.description }}">
    <meta property="og:url"           content="{{ page.url }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ page.title }}" />
    <meta property="og:description"   content="{{ page.description }}" />
    <meta property="og:image"         content="{{ page.image }}" />
    <meta property="og:site_name"     content="OCCULTURE Berlin" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124583019-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-124583019-1', {
        'page_path': location.href
      });
    </script>

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <!-- fonts loaded from google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Metamorphous|Raleway" rel="stylesheet">
  </head>

  <body onLoad="{{ page.onLoadAction }}">
    <span id="{{ page.background_image_id }}">
      <img id='bg-image' src="{{ page.background_image }}">
    </span>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      {% if page.displayImageCarousel == true %}
        <div id='image-carousel'><ul id='images'></ul></div>
      {% endif %}

      <header class="inner">
        <a onclick="goToPage('index.html')">
          <img id="logo" src="images/occulture-logo-alpha.png" alt="Occulture Berlin">
        </a>
      </header>
    </div>

    {{ content }}

    <!-- FOOTER -->
    <footer id="footer-wrap" class="outer">
      <div id='footer-links' class='inner'>
        <ul>
          <li><a onclick="goToPage('impressum.html')">Impressum</a></li>
        </ul>
      </div>
    </footer>
  </body>

  <section id="mailing-list-boop-boop" class='outer hidden'>
     <form action="https://tinyletter.com/occulture-berlin" method="post" target="popupwindow"
       onsubmit="window.open('https://tinyletter.com/occulture-berlin', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">

       <label for="tlemail">Subscribe for updates and information about OCCULTURE:</label>
       <input type="text" name="email" id="tlemail" />
       <input type="hidden" value="1" name="embed"/>
       <input type="submit" value="Subscribe" class="button"/>
     </form>
     <div class="close-button" onclick="hideMailingList()">x</div>
  </section>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    type="text/javascript">
  </script>
  <script src="javascripts/mustache.min.js" type="text/javascript"></script>
  <script src="data/events.js" type="text/javascript"></script>
  <script src="javascripts/main.js" type="text/javascript"></script>
</html>
