<!--

  this layout accepts the following variables:

  title - meta tag title
  description - meta tag description
  url - meta tag url
  image - open graph image displayed in previews
  scope - for more easily including common js and css files
-->

<!DOCTYPE HTML>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124583019-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-124583019-1', {
        'page_path': location.href
      });
    </script>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0">
    </script>

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '302054690638448');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=302054690638448&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
      type="text/javascript">
    </script>

    <title>{{ page.title }}</title>

    <meta charset='utf-8'>
    <meta name="description"          content="{{ page.description }}">
    <meta property="og:url"           content="{{ page.url }}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{{ page.title }}" />
    <meta property="og:description"   content="{{ page.description }}" />
    <meta property="og:image"         content="{{ page.image }}" />
    <meta property="og:site_name"     content="OCCULTURE Berlin" />

    <link rel="stylesheet" type="text/css" media="screen" href="{{page.scope}}stylesheets/stylesheet.css">

    <!-- fonts loaded from google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Metamorphous|Raleway" rel="stylesheet">
  </head>

  <body>
    {{ content }}
  </body>

  <script src="{{page.scope}}javascripts/mustache.min.js" type="text/javascript"></script>
  <script src="{{page.scope}}javascripts/main.js" type="text/javascript"></script>
</html>
