{% assign eventQuery = site.data.events-2019 | where: 'searchString', page.searchString %}
{% assign event = eventQuery.first %}

%section#event.inner.center
  .title
    {{ event.servicesString }}
  .avatar
    %img{src:'{{event.avatarPath}}', alt:'{{event.name}}', onError:'loadDefaultAvatar(this)'}
    .name
      {{event.name}}
  .main-info-wrap
    .bio.justified
      {{event.bio}}
    .diviner-details.justified
