{% assign eventQuery = site.data.2019.events | where: 'searchString', page.searchString %}
{% assign event = eventQuery.first %}

%section#event.inner.center
  .title
    {{event.title}}
  .avatar
    %img{src:'{{event.avatarPath}}', alt:'{{event.name}}', onError:'loadDefaultAvatar(this)'}
    .name
      {{event.name}}
  .main-info-wrap
    .abstract.justifed
      {{event.description}}
    .bio.justifed
      {{event.bio}}
